In [2]:
import pandas as pd

In [5]:
transactions_100_104 = pd.read_csv('./raw_data/transaction_train_week_100_104.csv')

In [6]:
transactions_100_104.shape

(1057905, 6)

In [9]:
transactions_100_104

,Unnamed: 0,t_dat,customer_id,article_id,price,sales_channel_id
0,30665422,2020-08-24,0000e9a4db2da4e9c68558ad1e7df570d02767b213ec6b...,880553001,0.025407,2
1,30665423,2020-08-24,0000e9a4db2da4e9c68558ad1e7df570d02767b213ec6b...,880553001,0.025407,2
2,30665424,2020-08-24,00047d50bde8751b26aaec7536ccc5fd92828ffa0a396d...,909081004,0.033881,2
3,30665425,2020-08-24,00047d50bde8751b26aaec7536ccc5fd92828ffa0a396d...,516903024,0.025407,2
4,30665426,2020-08-24,00047d50bde8751b26aaec7536ccc5fd92828ffa0a396d...,897679003,0.042356,2
...,...,...,...,...,...,...
1057900,31723322,2020-09-20,fff4381593e170ca0aea188998487c830d9a4070c9ec4b...,799365001,0.050831,1
1057901,31723323,2020-09-20,fff7e7674509592818bf453391af43a85eaaac9a52d858...,624486049,0.013542,1
1057902,31723324,2020-09-20,fff871bf24b40fd1290215414d760afaa69bb164d2b970...,717490010,0.008458,2
1057903,31723325,2020-09-20,fff871bf24b40fd1290215414d760afaa69bb164d2b970...,717490058,0.008458,2
1057904,31723326,2020-09-20,fff871bf24b40fd1290215414d760afaa69bb164d2b970...,717490057,0.008458,2

In [13]:
# nombre de références d'artciles différentes sur les weeks 100 à 104
transactions_100_104['article_id'].value_counts().count()

28508