In [88]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Import des données de transactions semaines 101 à 104

In [2]:
transactions_101_104 = pd.read_csv('./raw_data/transaction_train_week_101_104.csv')
#101= dernière semaine d'aout
#102= première semaine septembre
#103= deuxième semaine septembre
#104= troisème semaine de septembre (qui nous servira de target dans le cadre du projet)

In [3]:
transactions_101_104.shape

(1057905, 7)

In [15]:
transactions_101_104.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1057905 entries, 0 to 1057904
Data columns (total 7 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Unnamed: 0        1057905 non-null  int64
 1   Unnamed: 0.1      1057905 non-null  int64
 2   t_dat             1057905 non-null  int64
 3   customer_id       1057905 non-null  object
 4   article_id        1057905 non-null  int64
 5   price             1057905 non-null  float64
 6   sales_channel_id  1057905 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 56.5+ MB

In [ ]:
transactions_101_104=transactions_101_104.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

In [100]:
transactions_101_104.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,101,0000e9a4db2da4e9c68558ad1e7df570d02767b213ec6b...,880553001,0.025407,2
1,101,0000e9a4db2da4e9c68558ad1e7df570d02767b213ec6b...,880553001,0.025407,2
2,101,00047d50bde8751b26aaec7536ccc5fd92828ffa0a396d...,909081004,0.033881,2
3,101,00047d50bde8751b26aaec7536ccc5fd92828ffa0a396d...,516903024,0.025407,2
4,101,00047d50bde8751b26aaec7536ccc5fd92828ffa0a396d...,897679003,0.042356,2

## Nbre de transactions par semaine

In [109]:
# nbre de transactions par semaine 
week_group=transactions_101_104.groupby('t_dat')
nb_transactions=week_group['article_id'].count()
nb_transactions

t_dat
101    286525
102     38108
103    157621
104    575651
Name: article_id, dtype: int64

## Nbre de ventes par article par semaine¶

In [115]:
transactions_101_104.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,101,0000e9a4db2da4e9c68558ad1e7df570d02767b213ec6b...,880553001,0.025407,2
1,101,0000e9a4db2da4e9c68558ad1e7df570d02767b213ec6b...,880553001,0.025407,2
2,101,00047d50bde8751b26aaec7536ccc5fd92828ffa0a396d...,909081004,0.033881,2
3,101,00047d50bde8751b26aaec7536ccc5fd92828ffa0a396d...,516903024,0.025407,2
4,101,00047d50bde8751b26aaec7536ccc5fd92828ffa0a396d...,897679003,0.042356,2

In [112]:
# nbre de transactions (=ventes) par semaine et par article
week_article_group=transactions_101_104.groupby(['t_dat','article_id'])
nb_articles=week_article_group['article_id'].count()
nb_articles # nb_articles.sum() = 1057905

t_dat  article_id
101    108775044      8
       111565001     26
       111586001     79
       111593001     65
       111609001     28
                     ..
104    952267001     28
       952938001      6
       953450001      8
       953763001     27
       956217002     10
Name: article_id, Length: 68712, dtype: int64

In [117]:
pd.pivot(nb_articles,'t_dat','article_id')

AttributeError: 'Series' object has no attribute 'set_index'

In [54]:
#week_article_group=transactions_101_104.groupby(['t_dat','article_id'])['customer_id'].count()
article_group=transactions_101_104.groupby(['article_id'])['customer_id'].count().sort_values(ascending=False)

In [58]:
article_group.shape

(28508,)

In [65]:
#TOP12 des semaines 101 à 104 (inclus)
article_group.head(12)

article_id
751471001    2756
915526001    2412
915529003    2325
706016001    2321
751471043    2314
918292001    2276
898694001    2027
448509014    1873
863595006    1813
909370001    1797
850917001    1626
924243001    1575
Name: customer_id, dtype: int64

In [72]:
# TOP12 sur la première semaine de septembre (101)
mask=transactions_101_104['t_dat']==101
transactions_101=transactions_101_104[mask]
transactions_101

article_group_w101=transactions_101.groupby(['article_id'])['customer_id'].count().sort_values(ascending=False)
article_group_w101.head(12)

article_id
751471001    816
706016001    755
915529003    717
898694001    708
916468003    689
751471043    680
915526001    673
915526002    658
918292001    654
915529001    549
884319001    539
803757001    525
Name: customer_id, dtype: int64

In [70]:
# TOP12 sur la première semaine de septembre (102)
mask=transactions_101_104['t_dat']==102
transactions_102=transactions_101_104[mask]
transactions_102

article_group_w102=transactions_102.groupby(['article_id'])['customer_id'].count().sort_values(ascending=False)
article_group_w102.head(12)

article_id
933706001    500
898694001    149
751471001    138
915526001    128
715624053    123
715624001    102
915529003     92
706016001     88
889460003     87
862970001     86
918292001     82
915529001     78
Name: customer_id, dtype: int64

In [71]:
# TOP12 sur la première semaine de septembre (103)
mask=transactions_101_104['t_dat']==103
transactions_103=transactions_101_104[mask]
transactions_103

article_group_w103=transactions_103.groupby(['article_id'])['customer_id'].count().sort_values(ascending=False)
article_group_w103.head(12)

article_id
909370001    1139
865799006     482
918522001     424
924243001     414
809238001     386
448509014     386
751471001     367
809238005     366
918292001     345
762846027     335
673677002     301
929165002     295
Name: customer_id, dtype: int64

In [73]:
# TOP12 sur la première semaine de septembre (103)
mask=transactions_101_104['t_dat']==104
transactions_104=transactions_101_104[mask]
transactions_104

article_group_w104=transactions_104.groupby(['article_id'])['customer_id'].count().sort_values(ascending=False)
article_group_w104.head(12)

article_id
751471001    1435
915526001    1322
751471043    1294
915529003    1280
706016001    1220
918292001    1195
924243001    1139
918522001    1117
448509014    1087
863595006     985
919365008     944
898694001     920
Name: customer_id, dtype: int64

In [11]:
article_group = transactions_101_104.groupby('article_id')
article_group.head()

,Unnamed: 0,Unnamed: 0.1,t_dat,customer_id,article_id,price,sales_channel_id
0,0,30665422,101,0000e9a4db2da4e9c68558ad1e7df570d02767b213ec6b...,880553001,0.025407,2
1,1,30665423,101,0000e9a4db2da4e9c68558ad1e7df570d02767b213ec6b...,880553001,0.025407,2
2,2,30665424,101,00047d50bde8751b26aaec7536ccc5fd92828ffa0a396d...,909081004,0.033881,2
3,3,30665425,101,00047d50bde8751b26aaec7536ccc5fd92828ffa0a396d...,516903024,0.025407,2
4,4,30665426,101,00047d50bde8751b26aaec7536ccc5fd92828ffa0a396d...,897679003,0.042356,2
...,...,...,...,...,...,...,...
1057748,1057748,31723170,104,ff05e46a053a8481a79889e4375b13615304b8e7abb3e4...,805473003,0.059305,2
1057772,1057772,31723194,104,ff5c8fd560beba7e9b711c7726cbfe64b6f5414a75f778...,849255001,0.050831,2
1057812,1057812,31723234,104,ffa034ef641a6daff781539adb7830bcde0745ddb2bced...,847100002,0.025407,2
1057848,1057848,31723270,104,ffc197751ef56add717e78d7611d409b94c37d1f7aa900...,700429002,0.022017,1
1057861,1057861,31723283,104,ffe160e6c64557a2bc977e6fe64b370d0c542821c1b31c...,783621001,0.013542,1