In [6]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [7]:
# from data.py
def get_data (csv_file):
    df = pd.read_csv('../raw_data/' + f'{csv_file}')
    return df

# NEW VERSION

In [59]:
#from matrix.py ######################### NEW VERSION ###########################################

def encode_categories_articles(clusters_articles_df):  #df doit avoir les champs format ['article_id','catID']
    # création de dummies pour chaque catégorie de produits
    cluster_name=clusters_articles_df.columns[1]
    ohe = OneHotEncoder(sparse=False)# Instanciate encoder
    cat_encoded=pd.DataFrame(ohe.fit_transform(clusters_articles_df[[cluster_name]]))
    cat_names=ohe.categories_
    return pd.concat([articles_hetm[['article_id']],cat_encoded], axis=1) 


def build_segment_base(segment): # ce df contient toutes les transactions des individus du segment 
    return segment[['customer_id']].merge(transact_history)

def build_segment_horizon_transactions(segment_base,X_week,horizon):
    #filtrage sur l'horizon temporel pour connaitre les préférences des customers
    week_min= X_week-horizon+1
    week_max= X_week
    filtre=np.logical_and(segment_base['t_dat'] >= week_min,segment_base['t_dat'] <= week_max)
    Xh_week_achats=segment_base[filtre][['customer_id','t_dat','article_id']]
    Xh_week_achats['counter']=1
    return Xh_week_achats

def build_matrix(Xh_week_achats):
    achats_for_matrix=Xh_week_achats.drop(columns='t_dat')
    #achats_for_matrix['counter']=1 je pense pouvoir supprimer
    achats_for_matrix=achats_for_matrix.merge(articles_categories)

    # je fais un groupby par clients, sans le sort car j'ai ensuite besoin de refaire un tri
    # donc gain de temps de calcul car on suppose que sort_values est plus rapide que le sort de groupby
    achats_gb_cust_cat=achats_for_matrix.groupby(['customer_id'],as_index=False,sort=False)
    achats_gb_cust_cat_srt=achats_gb_cust_cat.sum().sort_values(by=['customer_id','counter'],ascending=False)

    # je refais ensuite un groupby par client pour calculer la somme de chaque dummy de categories
    segment_matrix=achats_gb_cust_cat_srt.drop(columns=['article_id']).groupby(['customer_id'],as_index=False).sum()
    return segment_matrix

def get_max_cats(Xh_week_achats,clusters_articles_df):
    ######################################################################################################
    #  catégories de produits achetés par customer, de la plus achetée (rank=1) à la moins achetée       #
    ######################################################################################################
    # contrairement à la construction de la matrice, ici je veut les infos de transactions en lignes
    tmp=Xh_week_achats.drop(columns='t_dat').merge(clusters_articles_df)
    cluster_name=clusters_articles_df.columns[1]
    cust_max_cats=tmp.groupby(['customer_id',cluster_name],as_index=False).sum()
    cust_max_cats.sort_values(by=['customer_id','counter'],ascending=False,inplace=True)
    cust_max_cats['rank']=cust_max_cats.groupby('customer_id')['counter'].rank(method='first',ascending=False)
    return cust_max_cats

def top12_per_cat(segment_base,X_week,p,clusters_articles_df):
    # p est le nombre de périodes utilisées pour déterminer le top12 (différent de horizon)
    week_min= X_week-p+1
    week_max= X_week
    filtre=np.logical_and(segment_base['t_dat'] >= week_min,segment_base['t_dat'] <= week_max)
    top12_cat=segment_base[filtre].drop(columns=['customer_id','t_dat']).merge(clusters_articles_df)
    cluster_name=clusters_articles_df.columns[1]
    top12_cat['counter']=1
    top12_cat=top12_cat.groupby([cluster_name,'article_id'],as_index=False).sum()
    top12_cat.sort_values(by=[cluster_name,'counter'],ascending=False,inplace=True)
    top12_cat['rank']=top12_cat.groupby(cluster_name)['counter'].rank(method='first',ascending=False)
    keep_first_12=top12_cat['rank']<=12
    top12_df=top12_cat[keep_first_12]
    return top12_df

def top12_split(top12_df,diversity): # dans cette version l'algo gère diversity in [1,2,3,4,6,12]
        if diversity==1:
            top_df=top12_df
        else:
            top_nb=12/diversity
            top_df=top12_cat_12[top12_cat_12['rank']<=top_nb]
        return top_df

def top_df_to_dict(top_df): # transforme le Top format dataframe à format dictionnaire
    #########j'ai un warning pour cette ligne de code ci après:
    #A value is trying to be set on a copy of a slice from a DataFrame.
    #Try using .loc[row_indexer,col_indexer] = value instead
    #############################################################################
    top_df['article_id']=top_df['article_id'].astype(str) #nécessaire pour utiliser la méthode .join qui travaille sur des str
    cat_list=top_df.iloc[:,0].values
    dict_top_cats={}
    for cat in cat_list:
        mask=top_df.iloc[:,0]==cat
        tmp=top_df[mask]
        #je passe à ma clef de dictionnaire (= cat) une string contenant les articles_id associés à la cat
        articles_str=" ".join(tmp['article_id'].values) 
        dict_top_cats[cat]=articles_str
    return dict_top_cats

############ je généralise la méthode ci-dessu à tout df qu'on veut transformer en dictionnaire##############
## group_name = nom de la série quon veut considérer comme un group_by 
## value_to_list = nom de la variable dont les valeurs prises par le groupe sont à passer dans une liste

def df_to_dict(df,group_name,value_to_list): # transforme le format dataframe à format dictionnaire
    #top_df['article_id']=top_df['article_id'].astype(str) #nécessaire pour utiliser la méthode .join qui travaille sur des str
    group_list=df.loc[:,group_name].values
    dict_group_values={}
    for group in group_list:
        mask=df.loc[:,group_name]==group
        tmp=df[mask]
        #je passe à ma clef de dictionnaire (=group) une string contenant les values associées au sein du groupe
        values_list=tmp[value_to_list].values
        #values_str=" ".join(tmp[value_to_list].values) 
        dict_group_values[group]=values_list
    return dict_group_values 
#########################################################################################################

def fit_recommender(segment_df,clusters_articles_df,X_week,horizon,p,diversity):
    # à chaque customer de mon segment je vais associer sa prediction (liste de 12 articles)
    # 1.construction des infos clients
    cluster_name=clusters_articles_df.columns[1]
    segment_base=build_segment_base(segment_df)
    Xh_week_achats=build_segment_horizon_transactions(segment_base,X_week,horizon)
    cust_max_cats=get_max_cats(Xh_week_achats,clusters_articles_df)
    filtre=cust_max_cats['rank']<=diversity
    cust_max_cats_filtered=cust_max_cats[filtre]
    dict_cust_cat=df_to_dict(cust_max_cats_filtered,'customer_id',cluster_name)
    # 2.construction des infos articles à faire correspondre ensuite aux clients
    top12_df=top12_per_cat(segment_base,X_week,p,clusters_articles_df)
    top_df=top12_split(top12_df,diversity)
    dict_cat_articles=top_df_to_dict(top_df)
    return dict_cust_cat, dict_cat_articles
    
def predict(dict_cust_cat, dict_cat_articles):
    # buyers_default_strategy : si les clients avec achats sur l'horizon choisi n'ont pas le nbre de catégories correspondant
    # au niveau de diversité désiré
    # cold_start_default_strategy : quelle baseline donner aux clients sas acahts sur l'horizon choisi 
    # (Baseline0 calculée sur quels mois)
    #dict_cust_cat, dict_cat_articles=fit_recommender(segment_df,clusters_articles_df,X_week,horizon,p,diversity)
    dict_cust_articles={}
    for customer,cat_list in dict_cust_cat.items():
        for cat in cat_list:
            articles_list=dict_cat_articles[cat]
        dict_cust_articles[customer]=articles_list    
    return dict_cust_articles

In [296]:
#from baseline0.py
#Baseline_0(S1,article_history,103,104,1)
def Baseline_0(segment,transact_history,X_week,y_week,horizon): # exemple: week104name ='in104' dans l'historique des transactions

    X_week_dummy="in" + f'{X_week}'
    y_week_dummy="in" + f'{y_week}'

    filtre_Xweek=transact_history[X_week_dummy]==1
    #filtre_yweek=transact_history[y_week_dummy]==1

    X_achats=segment[['customer_id']].merge(transact_history[filtre_Xweek][['customer_id','article_id',X_week_dummy]])
    # pour précision : y_achats=segment[['customer_id']].merge(transact_history[filtre_yweek][['customer_id','article_id',y_week_dummy]])

    # calcul des 12 plus populaires du segment:
    articles= X_achats.groupby(['article_id']).sum()
    Top12_arr=articles.sort_values(by=X_week_dummy, ascending=False).head(12)
    Top12=""
    for i in range (0, 12):
        if i==0 :
            Top12=str(Top12_arr.index[i])
        else:
            Top12=Top12 + " "+ str(Top12_arr.index[i])

    #je donne à tous mes customers de mon segment le baseline top12 calculé ci-dessus
    segment['Baseline0']=Top12

    #segment_BS=segment.merge(Baseline0_precision, how = 'left', on='customer_id')

    return segment

In [11]:
# Récupértaion de segments clients de Naceur selon l'âge
# note du 06042022: à ce stade de l'analyse les customers sans information sur l'âge ne sont pas inclus
#get_data('customers_age_16_17.csv')
#get_data('customers_age_18_19.csv','S2')
#get_data('customers_age_20_21.csv','S3')
#get_data('customers_age_22_23.csv','S4')
#get_data('customers_age_24_25.csv','S5')
#get_data('customers_age_26_27.csv','S6')
#get_data('customers_age_28_29.csv','S7')
#get_data('customers_age_30_34.csv','S8')
#get_data('customers_age_35_39.csv','S9')
#get_data('customers_age_40_44.csv','S10')
#set_data('customers_age_45_49.csv','S11')
#get_data('customers_age_50_54.csv','S12')
#get_data('customers_age_55_59.csv','S13')
#get_data('customers_age_60.csv','S14')
S1=get_data('customers_age_16_17.csv')

In [12]:
# Récupération du petit fichier de transactions "test" contenant semaines 101 à 104:
transactions_file='transaction_train_week_101_104.csv'
transactions_file_path=f'../raw_data/{transactions_file}'
transact_history=get_data(transactions_file_path)

In [13]:
#cleaning du petit fichier utilisé pour tester les programmes
transactions_101_104 = transact_history
transactions_101_104.drop(columns=['Unnamed: 0', 'Unnamed: 0.1', 'price', 'sales_channel_id'], inplace=True)

In [14]:
#construction de la base_segment utile pour le calcul des valeurs des éléments de la matrice
S1_base=build_segment_base(S1)

In [15]:
S1_base

                                            customer_id  t_dat  article_id
0     0006ca2c5ecdbdcc1de5e72adffc6c33448fc2aaa62afe...    101   572998001
1     0006ca2c5ecdbdcc1de5e72adffc6c33448fc2aaa62afe...    101   572998009
2     00089f13f465ec902e5c49a3bb408c5e31205096d6f267...    101   926502001
3     000e3f587242eb077685a487ad27dad632a4801576dfd1...    101   501620049
4     001c42459c8978d55a69fa1528975893b011a6539631f3...    101   885077003
...                                                 ...    ...         ...
5950  ffd6bb6d6a33e415467e69d18d28ec9e64061a4f58d67c...    104   914441006
5951  ffd6bb6d6a33e415467e69d18d28ec9e64061a4f58d67c...    104   914441004
5952  ffec95723bd3cfc50cef76f198716d18e395261f7cd8b1...    104   858147006
5953  ffec95723bd3cfc50cef76f198716d18e395261f7cd8b1...    104   892643001
5954  ffec95723bd3cfc50cef76f198716d18e395261f7cd8b1...    104   846181003

[5955 rows x 3 columns]

In [16]:
#création des clusters d'articles
articles_hetm = get_data('../raw_data/articles.csv')
articles_hetm=articles_hetm[['article_id','garment_group_name']] #fait office de clusters_articles_df
articles_categories=encode_categories_articles(articles_hetm)

In [17]:
articles_categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105542 entries, 0 to 105541
Data columns (total 22 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   article_id  105542 non-null  int64
 1   0           105542 non-null  float64
 2   1           105542 non-null  float64
 3   2           105542 non-null  float64
 4   3           105542 non-null  float64
 5   4           105542 non-null  float64
 6   5           105542 non-null  float64
 7   6           105542 non-null  float64
 8   7           105542 non-null  float64
 9   8           105542 non-null  float64
 10  9           105542 non-null  float64
 11  10          105542 non-null  float64
 12  11          105542 non-null  float64
 13  12          105542 non-null  float64
 14  13          105542 non-null  float64
 15  14          105542 non-null  float64
 16  15          105542 non-null  float64
 17  16          105542 non-null  float64
 18  17          105542 non-null  float64
 19  18          105542 non-null  float64
 20  19          105542 non-null  float64
 21  20          105542 non-null  float64
dtypes: float64(21), int64(1)
memory usage: 17.7 MB

In [18]:
articles_categories.head()

,article_id,0,1,2,3,4,5,6,7,8,...,11,12,13,14,15,16,17,18,19,20
0,108775015,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,108775044,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,108775051,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,110065001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,110065002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [19]:
S1_Xh_week_achats=build_segment_horizon_transactions(S1_base,103,1)

In [20]:
S1_Xh_week_achats.shape

(885, 4)

In [21]:
S1_Xh_week_achats

,customer_id,t_dat,article_id,counter
18,00953d607bb9b498cf020c314436b74c54876e1f03739a...,103,806388003,1
19,00953d607bb9b498cf020c314436b74c54876e1f03739a...,103,806388018,1
20,00953d607bb9b498cf020c314436b74c54876e1f03739a...,103,806388001,1
21,00953d607bb9b498cf020c314436b74c54876e1f03739a...,103,806388001,1
22,00953d607bb9b498cf020c314436b74c54876e1f03739a...,103,866731001,1
...,...,...,...,...
5866,fd458cc672b5dbd88d7cd1e92bb289f1a5f20d12bcda61...,103,853881001,1
5871,fddef481e1e792752bb5b7243c1345cb0379a74c64722d...,103,621381014,1
5899,fe452b72e97790e68dcf79f49521782d486c345981f773...,103,487800051,1
5907,feb01a2d17ca601bb4361099013b9010773778a3da3552...,103,706016003,1
5910,fede72be6d8a2130624098f344c15f4d88a45d8b3cbbc9...,103,896123001,1

In [22]:
build_matrix(S1_Xh_week_achats)

,customer_id,counter,0,1,2,3,4,5,6,7,...,11,12,13,14,15,16,17,18,19,20
0,00953d607bb9b498cf020c314436b74c54876e1f03739a...,5,0.0,0.0,0.0,0.0,0.0,4.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0105f638a3d98cd1918028de84d296e2ec5f075d5ccf3b...,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,017e589a1b5990b94288741a86252e14c1c361f3802827...,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,026e36e2a2131e0bdeb78752d03c3caad8932f0e361a3a...,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0285d6fbe7c6db42c94a540de427c4f24c30e863d4ca18...,4,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,fd458cc672b5dbd88d7cd1e92bb289f1a5f20d12bcda61...,2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
340,fddef481e1e792752bb5b7243c1345cb0379a74c64722d...,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
341,fe452b72e97790e68dcf79f49521782d486c345981f773...,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
342,feb01a2d17ca601bb4361099013b9010773778a3da3552...,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
343,fede72be6d8a2130624098f344c15f4d88a45d8b3cbbc9...,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
cust_max_cats=get_max_cats(S1_Xh_week_achats,articles_hetm)

In [36]:
cust_max_cats.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 602 entries, 601 to 1
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         602 non-null    object
 1   garment_group_name  602 non-null    object
 2   article_id          602 non-null    int64
 3   counter             602 non-null    int64
 4   rank                602 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 28.2+ KB

In [37]:
cust_max_cats

,customer_id,garment_group_name,article_id,counter,rank
601,fede72be6d8a2130624098f344c15f4d88a45d8b3cbbc9...,Accessories,896123001,1,1.0
600,feb01a2d17ca601bb4361099013b9010773778a3da3552...,Trousers,706016003,1,1.0
599,fe452b72e97790e68dcf79f49521782d486c345981f773...,Jersey Basic,487800051,1,1.0
598,fddef481e1e792752bb5b7243c1345cb0379a74c64722d...,Trousers,621381014,1,1.0
596,fd458cc672b5dbd88d7cd1e92bb289f1a5f20d12bcda61...,Jersey Fancy,853881001,1,1.0
...,...,...,...,...,...
4,026e36e2a2131e0bdeb78752d03c3caad8932f0e361a3a...,Dresses Ladies,832084003,1,1.0
3,017e589a1b5990b94288741a86252e14c1c361f3802827...,Accessories,639448001,1,1.0
2,0105f638a3d98cd1918028de84d296e2ec5f075d5ccf3b...,Jersey Basic,685813043,1,1.0
0,00953d607bb9b498cf020c314436b74c54876e1f03739a...,Jersey Basic,3225552023,4,1.0
1,00953d607bb9b498cf020c314436b74c54876e1f03739a...,Jersey Fancy,866731001,1,2.0

In [18]:
cust_max_cats[cust_max_cats['customer_id']=='0285d6fbe7c6db42c94a540de427c4f24c30e863d4ca18f0ca611d4938ab1a48']

,customer_id,garment_group_name,article_id,counter,rank
5,0285d6fbe7c6db42c94a540de427c4f24c30e863d4ca18...,Jersey Basic,1431248020,2,1.0
6,0285d6fbe7c6db42c94a540de427c4f24c30e863d4ca18...,Trousers,1791672006,2,2.0

In [38]:
top12_cat_12=top12_per_cat(S1_base,103,1,articles_hetm)

In [39]:
top12_cat_12.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 166 entries, 594 to 3
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   garment_group_name  166 non-null    object
 1   article_id          166 non-null    int64
 2   counter             166 non-null    int64
 3   rank                166 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 6.5+ KB

In [83]:
top12_cat_12

    garment_group_name article_id  counter  rank
594            Unknown  794321007        1   1.0
595            Unknown  815580001        1   2.0
596            Unknown  874937001        1   3.0
557  Under-, Nightwear  748355003        4   1.0
558  Under-, Nightwear  748355018        3   2.0
..                 ...        ...      ...   ...
42         Accessories  910264001        2   8.0
0          Accessories  337991001        1   9.0
1          Accessories  516859013        1  10.0
2          Accessories  524465001        1  11.0
3          Accessories  552716001        1  12.0

[166 rows x 4 columns]

In [40]:
# vérification du rang sur certaines catégories
top12_cat_12['garment_group_name']=='Trousers'
top12_cat_12[top12_cat_12['garment_group_name']=='Trousers']

    garment_group_name  article_id  counter  rank
447           Trousers   621381012       12   1.0
448           Trousers   621381014        6   2.0
457           Trousers   706016002        6   3.0
433           Trousers   448509014        5   4.0
456           Trousers   706016001        5   5.0
438           Trousers   562245046        4   6.0
470           Trousers   760084003        4   7.0
487           Trousers   895836003        4   8.0
432           Trousers   448509001        3   9.0
441           Trousers   572998013        3  10.0
443           Trousers   573085042        3  11.0
468           Trousers   751471038        3  12.0

In [41]:
top12_cat_12['garment_group_name']=='Trousers Denim'
top12_cat_12[top12_cat_12['garment_group_name']=='Trousers Denim']

    garment_group_name  article_id  counter  rank
510     Trousers Denim   636323001        5   1.0
526     Trousers Denim   864216001        4   2.0
516     Trousers Denim   729860002        3   3.0
540     Trousers Denim   899749005        3   4.0
515     Trousers Denim   724906019        2   5.0
520     Trousers Denim   797835008        2   6.0
528     Trousers Denim   864224005        2   7.0
529     Trousers Denim   867966002        2   8.0
532     Trousers Denim   875272012        2   9.0
535     Trousers Denim   882899003        2  10.0
507     Trousers Denim   399256001        1  11.0
508     Trousers Denim   399256023        1  12.0

In [42]:
top12=top12_split(top12_cat_12,1)
top12

    garment_group_name  article_id  counter  rank
594            Unknown   794321007        1   1.0
595            Unknown   815580001        1   2.0
596            Unknown   874937001        1   3.0
557  Under-, Nightwear   748355003        4   1.0
558  Under-, Nightwear   748355018        3   2.0
..                 ...         ...      ...   ...
42         Accessories   910264001        2   8.0
0          Accessories   337991001        1   9.0
1          Accessories   516859013        1  10.0
2          Accessories   524465001        1  11.0
3          Accessories   552716001        1  12.0

[166 rows x 4 columns]

In [43]:
top6=top12_split(top12_cat_12,2)
top6

    garment_group_name  article_id  counter  rank
594            Unknown   794321007        1   1.0
595            Unknown   815580001        1   2.0
596            Unknown   874937001        1   3.0
557  Under-, Nightwear   748355003        4   1.0
558  Under-, Nightwear   748355018        3   2.0
..                 ...         ...      ...   ...
21         Accessories   759482001        3   2.0
40         Accessories   907409001        3   3.0
46         Accessories   928839001        3   4.0
4          Accessories   552716012        2   5.0
10         Accessories   673396002        2   6.0

[95 rows x 4 columns]

In [44]:
top6['garment_group_name']=='Trousers Denim'
top6[top6['garment_group_name']=='Trousers Denim']

    garment_group_name  article_id  counter  rank
510     Trousers Denim   636323001        5   1.0
526     Trousers Denim   864216001        4   2.0
516     Trousers Denim   729860002        3   3.0
540     Trousers Denim   899749005        3   4.0
515     Trousers Denim   724906019        2   5.0
520     Trousers Denim   797835008        2   6.0

In [45]:
top4=top12_split(top12_cat_12,3)
top4

    garment_group_name  article_id  counter  rank
594            Unknown   794321007        1   1.0
595            Unknown   815580001        1   2.0
596            Unknown   874937001        1   3.0
557  Under-, Nightwear   748355003        4   1.0
558  Under-, Nightwear   748355018        3   2.0
..                 ...         ...      ...   ...
52             Blouses   697564006        1   4.0
9          Accessories   639448001        3   1.0
21         Accessories   759482001        3   2.0
40         Accessories   907409001        3   3.0
46         Accessories   928839001        3   4.0

[68 rows x 4 columns]

In [46]:
top3=top12_split(top12_cat_12,4)
top3

    garment_group_name  article_id  counter  rank
594            Unknown   794321007        1   1.0
595            Unknown   815580001        1   2.0
596            Unknown   874937001        1   3.0
557  Under-, Nightwear   748355003        4   1.0
558  Under-, Nightwear   748355018        3   2.0
590  Under-, Nightwear   923037001        3   3.0
510     Trousers Denim   636323001        5   1.0
526     Trousers Denim   864216001        4   2.0
516     Trousers Denim   729860002        3   3.0
447           Trousers   621381012       12   1.0
448           Trousers   621381014        6   2.0
457           Trousers   706016002        6   3.0
427           Swimwear   559633008        1   1.0
428           Swimwear   685605001        1   2.0
429           Swimwear   776237029        1   3.0
425     Special Offers   644288001        2   1.0
426     Special Offers   909370001        2   2.0
423   Socks and Tights   889703001        3   1.0
416   Socks and Tights   666444001        2   2.0
424   Socks and Tights   932798001        2   3.0
405             Skirts   869379007        2   1.0
401             Skirts   777892001        1   2.0
402             Skirts   858856004        1   3.0
392              Shoes   619234005        1   1.0
393              Shoes   705788001        1   2.0
394              Shoes   799044001        1   3.0
389             Shirts   743840018        1   1.0
390             Shirts   795836005        1   2.0
391             Shirts   922987001        1   3.0
386            Outdoor   868054004        2   1.0
378            Outdoor   700429002        1   2.0
379            Outdoor   768193001        1   3.0
327           Knitwear   767423001        5   1.0
308           Knitwear   516903024        3   2.0
315           Knitwear   673677002        3   3.0
262       Jersey Fancy   866731001        4   1.0
272       Jersey Fancy   874113026        4   2.0
273       Jersey Fancy   874113031        4   3.0
146       Jersey Basic   685814003       16   1.0
159       Jersey Basic   715624001        8   2.0
143       Jersey Basic   685813043        7   3.0
103     Dresses Ladies   927957001        2   1.0
90      Dresses Ladies   709332001        1   2.0
91      Dresses Ladies   793699001        1   3.0
86             Dressed   568601044        1   1.0
87             Dressed   785515002        1   2.0
88             Dressed   835008003        1   3.0
69             Blouses   871517008        4   1.0
70             Blouses   871517014        3   2.0
79             Blouses   889456001        3   3.0
9          Accessories   639448001        3   1.0
21         Accessories   759482001        3   2.0
40         Accessories   907409001        3   3.0

In [47]:
top2=top12_split(top12_cat_12,6)
top2

    garment_group_name  article_id  counter  rank
594            Unknown   794321007        1   1.0
595            Unknown   815580001        1   2.0
557  Under-, Nightwear   748355003        4   1.0
558  Under-, Nightwear   748355018        3   2.0
510     Trousers Denim   636323001        5   1.0
526     Trousers Denim   864216001        4   2.0
447           Trousers   621381012       12   1.0
448           Trousers   621381014        6   2.0
427           Swimwear   559633008        1   1.0
428           Swimwear   685605001        1   2.0
425     Special Offers   644288001        2   1.0
426     Special Offers   909370001        2   2.0
423   Socks and Tights   889703001        3   1.0
416   Socks and Tights   666444001        2   2.0
405             Skirts   869379007        2   1.0
401             Skirts   777892001        1   2.0
392              Shoes   619234005        1   1.0
393              Shoes   705788001        1   2.0
389             Shirts   743840018        1   1.0
390             Shirts   795836005        1   2.0
386            Outdoor   868054004        2   1.0
378            Outdoor   700429002        1   2.0
327           Knitwear   767423001        5   1.0
308           Knitwear   516903024        3   2.0
262       Jersey Fancy   866731001        4   1.0
272       Jersey Fancy   874113026        4   2.0
146       Jersey Basic   685814003       16   1.0
159       Jersey Basic   715624001        8   2.0
103     Dresses Ladies   927957001        2   1.0
90      Dresses Ladies   709332001        1   2.0
86             Dressed   568601044        1   1.0
87             Dressed   785515002        1   2.0
69             Blouses   871517008        4   1.0
70             Blouses   871517014        3   2.0
9          Accessories   639448001        3   1.0
21         Accessories   759482001        3   2.0

In [48]:
top1=top12_split(top12_cat_12,12)
top1

    garment_group_name  article_id  counter  rank
594            Unknown   794321007        1   1.0
557  Under-, Nightwear   748355003        4   1.0
510     Trousers Denim   636323001        5   1.0
447           Trousers   621381012       12   1.0
427           Swimwear   559633008        1   1.0
425     Special Offers   644288001        2   1.0
423   Socks and Tights   889703001        3   1.0
405             Skirts   869379007        2   1.0
392              Shoes   619234005        1   1.0
389             Shirts   743840018        1   1.0
386            Outdoor   868054004        2   1.0
327           Knitwear   767423001        5   1.0
262       Jersey Fancy   866731001        4   1.0
146       Jersey Basic   685814003       16   1.0
103     Dresses Ladies   927957001        2   1.0
86             Dressed   568601044        1   1.0
69             Blouses   871517008        4   1.0
9          Accessories   639448001        3   1.0

In [49]:
Top_df=top12

In [50]:
Top_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 166 entries, 594 to 3
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   garment_group_name  166 non-null    object
 1   article_id          166 non-null    int64
 2   counter             166 non-null    int64
 3   rank                166 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 6.5+ KB

In [51]:
Top_df

    garment_group_name  article_id  counter  rank
594            Unknown   794321007        1   1.0
595            Unknown   815580001        1   2.0
596            Unknown   874937001        1   3.0
557  Under-, Nightwear   748355003        4   1.0
558  Under-, Nightwear   748355018        3   2.0
..                 ...         ...      ...   ...
42         Accessories   910264001        2   8.0
0          Accessories   337991001        1   9.0
1          Accessories   516859013        1  10.0
2          Accessories   524465001        1  11.0
3          Accessories   552716001        1  12.0

[166 rows x 4 columns]

In [52]:
test_str= top_df_to_dict(Top_df)
test_str

{'Unknown': '794321007 815580001 874937001',
 'Under-, Nightwear': '748355003 748355018 923037001 470789031 668956005 723469001 752689002 892309003 894756002 918725001 505882002 506098007',
 'Trousers Denim': '636323001 864216001 729860002 899749005 724906019 797835008 864224005 867966002 875272012 882899003 399256001 399256023',
 'Trousers': '621381012 621381014 706016002 448509014 706016001 562245046 760084003 895836003 448509001 572998013 573085042 751471038',
 'Swimwear': '559633008 685605001 776237029 832330003 832331003',
 'Special Offers': '644288001 909370001',
 'Socks and Tights': '889703001 666444001 932798001 156231001 182909001 297067002 372860001 372860002 372860024 783707046 783707110 783707123',
 'Skirts': '869379007 777892001 858856004 869379001 869379002 869379011 904201001 904201002 918547001',
 'Shoes': '619234005 705788001 799044001 808628002 901811001 904225001 906501001 916256005 916256007',
 'Shirts': '743840018 795836005 922987001',
 'Outdoor': '868054004 700429002 768193001 802898002 822207003 829646006 831686003 835348011 868038001 870990001 884212003',
 'Knitwear': '767423001 516903024 673677002 687524001 797988001 801447001 842000003 863583001 902518003 574109039 579541001 673677023',
 'Jersey Fancy': '866731001 874113026 874113031 611216002 699755073 738713029 809961002 873158008 909734001 911195004 911214001 918292001',
 'Jersey Basic': '685814003 715624001 685813043 682550002 685814001 685814063 456163083 715624010 806388001 456163060 456163086 677930086',
 'Dresses Ladies': '927957001 709332001 793699001 797079003 816083001 832084003 856440002 860585005 870328002 899247002 900235003 902528007',
 'Dressed': '568601044 785515002 835008003 898694001',
 'Blouses': '871517008 871517014 889456001 697564006 697564010 697564042 751592001 762846008 762846031 767473012 784415003 811525001',
 'Accessories': '639448001 759482001 907409001 928839001 552716012 673396002 889540002 910264001 337991001 516859013 524465001 552716001'}

In [79]:
dict_cust_cat, dict_cat_articles=fit_recommender(S1,articles_hetm,103,1,1,3)

/tmp/ipykernel_19098/3591731495.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_df['article_id']=top_df['article_id'].astype(str) #nécessaire pour utiliser la méthode .join qui travaille sur des str

In [80]:
def predict(dict_cust_cat, dict_cat_articles):
    # buyers_default_strategy : si les clients avec achats sur l'horizon choisi n'ont pas le nbre de catégories correspondant
    # au niveau de diversité désiré
    # cold_start_default_strategy : quelle baseline donner aux clients sas acahts sur l'horizon choisi 
    # (Baseline0 calculée sur quels mois)
    #dict_cust_cat, dict_cat_articles=fit_recommender(segment_df,clusters_articles_df,X_week,horizon,p,diversity)
    dict_cust_articles={}
    for customer,cat_list in dict_cust_cat.items():
        articles_list=[]
        for cat in cat_list:
            articles_list.append(dict_cat_articles[cat])
            # ajouter une étape ici au cas où le client n'a pas autant de catégories que prévue par le paramètre diveristé
            # il faudra travailler sur les listes
            articles_str=" ".join(articles_list) 
        dict_cust_articles[customer]=articles_str  
    return dict_cust_articles

In [82]:
dict_cust_cat

{'fede72be6d8a2130624098f344c15f4d88a45d8b3cbbc9f21e1964a471b394b2': array(['Accessories'], dtype=object),
 'feb01a2d17ca601bb4361099013b9010773778a3da35524742e998c530920c8d': array(['Trousers'], dtype=object),
 'fe452b72e97790e68dcf79f49521782d486c345981f773a16160db6fa2b28567': array(['Jersey Basic'], dtype=object),
 'fddef481e1e792752bb5b7243c1345cb0379a74c64722d7a321a9cdae7d893a0': array(['Trousers'], dtype=object),
 'fd458cc672b5dbd88d7cd1e92bb289f1a5f20d12bcda610616fea92f725d3320': array(['Jersey Fancy', 'Swimwear'], dtype=object),
 'fd0d0860c52aea5a8b38b01550603e88fe5a6008e19eca98308a57523272a587': array(['Under-, Nightwear'], dtype=object),
 'fc90e1611724a9ca812fe2dd8038adc312b49dab92a4b254b02cab13605292e2': array(['Jersey Basic', 'Knitwear'], dtype=object),
 'fc56c2b297803575c07f819af0dc8fd73c68eb7ad13454468bb83b77a5ef363f': array(['Jersey Basic', 'Knitwear'], dtype=object),
 'fbf0c743801ed29a62f46b8d562edae6d7eabe6da8f5a90c237b53a43235ef4f': array(['Jersey Basic'], dtype=object),
 'fbede713d84170d549e86bb8cfd29bab2e867c5d5b205bdb81067d7751199112': array(['Trousers'], dtype=object),
 'fbdb9d02cfb6dfc36b4b259e3c204039fe1f7a562383e69957f787f4521aaaa9': array(['Blouses', 'Knitwear'], dtype=object),
 'fb918f69639c27b0bdcd927bbe9c6475bda678807f07a510be5ce16d43ea4d03': array(['Jersey Basic', 'Jersey Fancy'], dtype=object),
 'fb3017fc5fe1a570024292b9a54bb05bdb935d366a2ece7f354b8c5b4f2a47da': array(['Jersey Basic'], dtype=object),
 'fafdff0d00cc5a43930cb36b330787460f9e9928911afdd3d81ebd58226d95d1': array(['Dresses Ladies'], dtype=object),
 'fadc6e3eac34bc261ee8a8b155769263891462f9551d1b45786419e7f7546c97': array(['Accessories', 'Knitwear', 'Under-, Nightwear'], dtype=object),
 'fad2656d004b51a19dad1d899c266da7201721d104e75529781dc37d9fe562d6': array(['Under-, Nightwear'], dtype=object),
 'faa2d9f85b9300040a70c2d4294bab2f9ad5e328f5b241d2540c046380b7212b': array(['Accessories', 'Jersey Basic', 'Swimwear'], dtype=object),
 'fa7252a2a900fb55a00fdf4db82677ff43dd1bc4f37d56485f6e80fc04f49c05': array(['Jersey Fancy'], dtype=object),
 'fa44ab89936399214eb0522c22214d708c46c7fe8a8864f4636f5b8871816959': array(['Knitwear', 'Unknown'], dtype=object),
 'f9cbe98653de59d385b3d46729092ade39f91b3bf15211445b1725fb7a91f223': array(['Jersey Basic'], dtype=object),
 'f9b16588f2ee03a0a24872e84f5613e37c29592c7c8097a6479bf03169883822': array(['Jersey Basic', 'Socks and Tights'], dtype=object),
 'f9940f8773315ed5e11ac0983d30c0ae3717599a2e7c8d6e28ad5a249ed58457': array(['Jersey Basic', 'Trousers'], dtype=object),
 'f98fcab85f9b8018ed74d60e2e6503be638d5c8dd1afbb0ef69a3b7a39c0d7da': array(['Accessories', 'Trousers'], dtype=object),
 'f95460a6e86a38066ab0304f9b525527925b7ae96c5eaaa6810ed8c3381eb7ab': array(['Trousers Denim', 'Jersey Basic'], dtype=object),
 'f950a859e569d8986fab30e8cda9cb3208bf20bdae8cf7ce37911edfad11fcf9': array(['Jersey Fancy'], dtype=object),
 'f77d4f5c4b98df18682a9b7672eddcf4d860aec1a188f1116c6be87bd450ea4e': array(['Jersey Basic'], dtype=object),
 'f70590baf6774f84157feb27fc65f9adfd71f1eb3ebc4ceac58102c2828606d8': array(['Under-, Nightwear'], dtype=object),
 'f6d3408d9f8ceb660f7479fa574a642e0e19ecdd93cff0b446dbb7dad5f40cab': array(['Jersey Basic', 'Knitwear', 'Trousers Denim'], dtype=object),
 'f63a25b3756b83274314af8bddd65b08607ff84a524c87e0b18333a4971e52ea': array(['Jersey Basic'], dtype=object),
 'f55b74ca46b35d76b10faf6d77b567975e4cc3adff0a0d0eb5ea7dece132af70': array(['Knitwear'], dtype=object),
 'f5152128e48fc83f8fd613e6eba04875f1c7ec0589a48332790a8f70a5d192dd': array(['Trousers'], dtype=object),
 'f4b533174dcf04b8028f7b6399adefc89299832e51f4d80145233497ed194f7e': array(['Accessories', 'Jersey Fancy'], dtype=object),
 'f4aac7157dd7d9703382a72ae86c9753816e5c335157312f4f1595671af01913': array(['Accessories', 'Socks and Tights'], dtype=object),
 'f286ceb2962d77eb642b259d78adb04aca9730efc09292bccc47c48afa09c4c1': array(['Jersey Basic', 'Dressed', 'Knitwear'], dtype=object),
 'f15eb68013ab576545e0ce12f5ea965dcc4585d69791031190f53af4fcf585fa': array(['Knitwear', 'Blouses', 'Jersey Fancy'], dtype=object),
 'f0c323250d23ef41ab06d3c6e3edba7e1914c95434db26ffc22d21c7ea346511': array(['Trousers', 'Blouses', 'Jersey Basic'], dtype=object),
 'f088a64e16284c0c7ad455e31c455e089f5d633d6838c969bcc3e68909867aa3': array(['Accessories', 'Jersey Basic'], dtype=object),
 'f03ceafad4332fc0bd3a4f28ac99f9c4c285c8aae1f2ab04ee245eaccfec03ed': array(['Accessories', 'Jersey Basic'], dtype=object),
 'ef8c10e90f55d3c57eb69ab3f000b0f5fb1a4c45c7242cad73aee9c847e73736': array(['Jersey Basic'], dtype=object),
 'ef874acc1695d561c9838f1d48deccfdba44ce7764e5bb5f3e2dee182b48a81d': array(['Blouses', 'Jersey Basic'], dtype=object),
 'ef3a5c5d84cd903c0d613d6edf4702a1716404c57cb24aea0573252f3a45ecf6': array(['Trousers Denim'], dtype=object),
 'eeded1160329ea272393789193800827dd026efe136cade582906ca19dd99836': array(['Jersey Fancy'], dtype=object),
 'ee23547af0c65080e5bdb137c11b95238fd9eb5db69a5df03c36297c4bb29422': array(['Under-, Nightwear'], dtype=object),
 'ec22ca52d45af55b2cd1336dab388187b7eb0afde04af82c5a3d11aad0191f1d': array(['Jersey Basic'], dtype=object),
 'ec0233f030e1ff8d1201309186ed0b002e650b4296643bfc3af143a69df70645': array(['Accessories'], dtype=object),
 'eba27f04ff00aaae8503773539c948a02c26f4ef0512169ff72a50a4f8f3359f': array(['Skirts'], dtype=object),
 'ea931ed97ba15a0d229bf7d46918fd99ff66aad47f83728e08366cdc418cf6b7': array(['Trousers', 'Jersey Fancy'], dtype=object),
 'e92f4f7b708d84f0ca0810541d785a1ac7660c2f42bcd9753128d34c5970549d': array(['Jersey Basic', 'Jersey Fancy'], dtype=object),
 'e8d9ccc358d10b3d3a78fe12fe44348e1d88345b2e982efbcb1437dc9b42fc76': array(['Jersey Fancy', 'Under-, Nightwear'], dtype=object),
 'e8b948da89f98a6b69b6caaa3238f2489566d2b22b05ee82f7e96b598154e97e': array(['Jersey Basic'], dtype=object),
 'e8b105ed9ef2276a2ef58867ff6308c759c379440aada35193f32d4f358e36aa': array(['Dresses Ladies', 'Accessories', 'Blouses'], dtype=object),
 'e82f98a913b580541b01431efb3410d91a5511d28807006278e45b31a597092e': array(['Trousers', 'Blouses'], dtype=object),
 'e829fb99315efcf3ed49da39c4c1acea77ef35a5776292e90920d03e9dddd535': array(['Jersey Fancy'], dtype=object),
 'e6339166f0341d87406596efdc0de566ffa9a249e156d28b19a54f0fcf0f97cc': array(['Trousers', 'Under-, Nightwear', 'Accessories'], dtype=object),
 'e6136fb51381fd80b3a3144662e2997eef90c36c9f7d3238b1ff521e88675618': array(['Under-, Nightwear'], dtype=object),
 'e609fdbfc7215a626b5a34d77439ab3eda4ade93d6b718e851bbe700280b85f2': array(['Outdoor'], dtype=object),
 'e5c116cd5c54ff40714246da3c81ac926725635f71e476fc13b197daa0201b4b': array(['Jersey Basic', 'Accessories', 'Blouses'], dtype=object),
 'e55687513b9f6cde8d2d87d0d50ba7a3ef41a426c6f4d970cce86a23868e39e6': array(['Knitwear'], dtype=object),
 'e44ac14f6f0e9b18d96701664f92f82d8001c365178c262d8cb301d7cdda23c3': array(['Knitwear'], dtype=object),
 'e36b3e948b2674edb8870187aae95573794664364ea7e425fd4a528d9f69c73f': array(['Trousers', 'Jersey Fancy', 'Knitwear'], dtype=object),
 'e2f7678c269cb120274ae22039a74a62f499552efed3f7fa76e41cce20033440': array(['Jersey Fancy', 'Socks and Tights'], dtype=object),
 'e0e5656a4891d81647393c94bb494ef6f6ce1186ba51fe2a8f9d151d0f4f7441': array(['Jersey Basic'], dtype=object),
 'e031790ef629ee1739eea32220902b952f5f4cd2b0af2aa0e24430c060f1838e': array(['Jersey Basic'], dtype=object),
 'df9825cc8cc5e2dd8f185e3d53657013a7082f5315977d3e5c355e8373cff6ee': array(['Jersey Basic', 'Jersey Fancy'], dtype=object),
 'df1aa9f67e558b278ad75e2b0e3020b58aa0ef944f2b771d3c7d44d213225eb1': array(['Jersey Fancy'], dtype=object),
 'de91cda47a2b95c123749c4ea4d1a9bd7048cb08908c1350fcc7d01deb01ce2d': array(['Blouses', 'Trousers', 'Trousers Denim'], dtype=object),
 'ddf576572894fca7e74a13366a1662979e1446e44534bfbea80e25e969dd6f9c': array(['Trousers'], dtype=object),
 'dd3b8a41c13d700f99ee8e884698b458756eae0b9d4369064395c3e870621cab': array(['Trousers'], dtype=object),
 'dce8a3ed8e8c6460ade83e2fbb22d3e2e6b2059070ec970befcf3afa0f2ecf37': array(['Jersey Basic'], dtype=object),
 'dc5a5317e512e8a0a0b2b53b6812029f1abaa5be96f02b294bfa4f88a80ce4d0': array(['Jersey Basic', 'Jersey Fancy', 'Knitwear'], dtype=object),
 'dc137e904f262b2a1c3e171efe1ac7c01afdb5b0e66a6265a8a0e821c6dea244': array(['Blouses'], dtype=object),
 'db74f6e9ba8c1354b107118c01b9ef8fe128fa48059ef8b32abcc0ac7d524768': array(['Trousers'], dtype=object),
 'db6cc489ccb75fda9bee17fbc8aaf70054e7a894e054720c5a3d745b37f68b68': array(['Under-, Nightwear'], dtype=object),
 'da9744cd1bfad1cb8dbe9cc85d21b4fb4f92377d034c411f377c8e21955c7c10': array(['Under-, Nightwear', 'Jersey Basic'], dtype=object),
 'da0fd527b4b9a946d138a6627c6a4d2a3cc8282e31a6b734074f7f7f4daa6a62': array(['Jersey Fancy', 'Knitwear', 'Trousers'], dtype=object),
 'd9d82d7ca5ea26d6ea40bf9f6e46a452685b7ae72d9e126c3d2f9583d3f4233f': array(['Jersey Fancy'], dtype=object),
 'd99d640ed748cc3ef2228a9224e42c3b4528d3a3e24d200df0e03e5484297cab': array(['Knitwear'], dtype=object),
 'd92ba88c2e15b0924a91655c8b87a5fcceee050c2f310837ff3423d49ee0da7e': array(['Knitwear'], dtype=object),
 'd8b133c964434fdd4d3e911589eab76c9fa9e5092e01bb560e694cd4f33b24e9': array(['Jersey Fancy'], dtype=object),
 'd7e825a1a433464d05fbaaafa54f96dcd25368c725d722addadf8504d249089f': array(['Jersey Fancy'], dtype=object),
 'd66a0344280671911d5bb7430cf480d61e3dcb268569892885c50acd70e73400': array(['Blouses', 'Jersey Basic', 'Trousers'], dtype=object),
 'd432fc7d33390d57be5ed6868931c18b248d05170d4024e6dd75c2c701cc0830': array(['Trousers Denim'], dtype=object),
 'd35e7ca1852ad58157761f74f72019cc3ef22f4f2d0ec52d223633740ca63eef': array(['Jersey Basic'], dtype=object),
 'd1cafe1841dcb319ad6eb0a7ffd6b706e1ac2a5b759d5612aed4f5fd7048dc47': array(['Jersey Basic'], dtype=object),
 'd12fb081e191c258d66ef6c2d1fa3a39fe119e18ab9dbd919c62473acde5d2d6': array(['Knitwear'], dtype=object),
 'd0c1b6e8d460da4d1dd081ac2c00a23680e3e4f0459e1c3d147e0dfa5f16188a': array(['Trousers Denim'], dtype=object),
 'd0a90bece8c7c0d00573d1849969b629e703d5f46b3ea57ae8442d1944c9e36b': array(['Jersey Basic', 'Under-, Nightwear'], dtype=object),
 'cfc30e9fa12b8c54c16953279cbd412241fc881ec88f4698d4fafabd2e2fea54': array(['Skirts', 'Trousers'], dtype=object),
 'cfc20782173c8a60a788ba286b0513bf9433ea2c92becf5779bc33744ffa3da6': array(['Outdoor'], dtype=object),
 'ce62d7c34e10c37f126f4c13a688f2dbb4dbf0afa66ac176a9590902a8467c12': array(['Blouses'], dtype=object),
 'cdd6342915a6b00b8a63d40ef464164c16a55691ac551978bef8581726f9a12f': array(['Jersey Basic', 'Knitwear'], dtype=object),
 'cd8d1228b5c2457b8b6dc3deb6814c33d3f4950ce5a4ff712e151f2342fc20c2': array(['Jersey Basic'], dtype=object),
 'cd727aa20f09239a7f4e691cef46b118db861c12479cbfa2708fcf9cbb0791cc': array(['Jersey Basic'], dtype=object),
 'cb0b267c4887da7e2b24969bf4a983c4df269f0d2cd8e14dac3aac79d89682bd': array(['Jersey Basic', 'Trousers'], dtype=object),
 'c9f6504a9353175a06a171a6dd61b38bfb22927d95c8294ec517afb6235d9bc8': array(['Trousers Denim'], dtype=object),
 'c8ee3a61caec84fa3831fcc37f976cc56679a7566548c50437065ec0d372bb28': array(['Jersey Basic', 'Jersey Fancy', 'Trousers'], dtype=object),
 'c7a7d0bbb9eef5c57b3246c2a1d4d733fbb84317a6b2537b0483171ad4857dac': array(['Trousers', 'Jersey Fancy'], dtype=object),
 'c56d061dc0cbbd550ab3c29514ad64f9d28e3c21a1cd29f6cc0e662a3875ea8e': array(['Jersey Basic', 'Jersey Fancy', 'Trousers'], dtype=object),
 'c4adb62f0db844c4b270f81d96c8efcb6be760879665334e1f6b08eba0690aca': array(['Accessories'], dtype=object),
 'c44580aa586a5aa231a381cf71418dbbef2561c41f00b5137d6f117acd84a439': array(['Jersey Basic', 'Trousers', 'Trousers Denim'], dtype=object),
 'c3bd6d7c59b3072fabec297e6008c99bca207760a2d7b244a0a54db03dd10a62': array(['Jersey Fancy'], dtype=object),
 'c2753080dfc58e2d592d9112f2630bd93429d0bc947fd3479ff6a87093de19c2': array(['Jersey Basic'], dtype=object),
 'c273ddb99f9206c14be10754aa343857028494570fdb5ff55e073fe1021ebec0': array(['Jersey Fancy'], dtype=object),
 'c25e13e33d4477e82fafbd8b4b57d75b013252880161ceac97e8fd9fff8817f2': array(['Jersey Fancy', 'Socks and Tights'], dtype=object),
 'c181676b285cef407f3d522f0990dca709e9d4020fc7821952e0213ef0501e85': array(['Accessories'], dtype=object),
 'c14857008cf2d388fd823a97091d3c31f0c5cc5f862b6ce3e02aae42fe055bdc': array(['Jersey Basic'], dtype=object),
 'c1170567a168d7c81d63db7513378a9f13b411b69bf41ef5646a5c17a66ccb17': array(['Swimwear'], dtype=object),
 'c07edeaaf00ff849a307c18021aca749dc3e76ca4048f0f78fc8e903096ee8b5': array(['Under-, Nightwear', 'Trousers', 'Trousers Denim'], dtype=object),
 'c04ee58b6a72689a39ae1b437ab89ba2327e8dd7ed652980abd63d82c1c28bcb': array(['Jersey Basic'], dtype=object),
 'be227356719054b0f9008b68144f5b1834e24e90d4a007fb2f6dcf638baf9c96': array(['Blouses'], dtype=object),
 'bcf0e19606d3bd9823e7d944ca9e5da751846340acf27f0f9cd362999685e70e': array(['Knitwear'], dtype=object),
 'bc0d49f4c58e11b217d618150305a425acb4de63dfb71cdf328c01e44d8185d2': array(['Jersey Basic', 'Trousers'], dtype=object),
 'bb0cfbfae0cb2274f501dc422aff140f938c9e94a89b00932275fc1f3f5e115f': array(['Accessories'], dtype=object),
 'b9e322dd1df0f9804c1a4fa9e4f75f6e8b3b16756d798f558299a712e2c42601': array(['Under-, Nightwear', 'Jersey Fancy'], dtype=object),
 'b761051af4015f3e87e013400bc8629f9b53c1c402ba5434ce65d518ee3c382e': array(['Accessories'], dtype=object),
 'b6e9caf19f56ca9e6b8dbd0e843aeeef940c3db84176d617c1b678d4c4399d1a': array(['Accessories', 'Jersey Basic', 'Skirts'], dtype=object),
 'b5bea80f3c53940f1e020ae51c6abd791c2c9d4109fb6cb23c7e7c451da59379': array(['Trousers Denim'], dtype=object),
 'b4bb4ca468ae9b30d47c14e936e52c35258611b7adf12a466d9bab07416941e5': array(['Jersey Basic', 'Jersey Fancy', 'Knitwear'], dtype=object),
 'b3ae393747a572d6abe949ad70fd07058cba0e24b419154101d3eb70ac87d309': array(['Jersey Fancy'], dtype=object),
 'afe52b16e478ad51bf28fe09c13e4449da2822ffac856da47e5df9851d942e79': array(['Trousers'], dtype=object),
 'ae2d843d8e6162d3d30daa18575ea43407b7c10378225e570256685f5a2ded2e': array(['Jersey Fancy'], dtype=object),
 'ab4c236b146f20e741a8a4d0e9177b10884edf5564ae7495c38d59472ed43f79': array(['Trousers'], dtype=object),
 'a9c1a835e51c3fcdec5a252bc93be1c5f6833ca9643250c4cad23e0637079cd4': array(['Jersey Basic', 'Trousers'], dtype=object),
 'a92433657358661a5bb518fd385b5db8002e504f8f92c3e4593a6854042117e1': array(['Knitwear'], dtype=object),
 'a91c2649ed55574a0766a1a3bf8e9b588e0629fec838e23f8346c82113248658': array(['Trousers'], dtype=object),
 'a6f1d7ef7950318b76d7fad70829bbfe078bd288583f12f9e3b2419b19eb647a': array(['Trousers'], dtype=object),
 'a6e939e8414cd07fd7c665d4128ebf4aba1a8138775ed40be3fb08c46426cf4d': array(['Jersey Fancy'], dtype=object),
 'a6a38b8fc65ea5cf01348ae17efbba8a16164791846b87b1ceaf00ca3a29e66c': array(['Jersey Basic', 'Jersey Fancy', 'Socks and Tights'], dtype=object),
 'a60ba3226839be47fc6c25137d848ab7fb1f85e1f93508c9d9a08929e64fe983': array(['Knitwear'], dtype=object),
 'a5b81c188a16e500f6f8577d46366a6dd8b15233ff1d073c472c9fdd4ee43c01': array(['Knitwear', 'Trousers'], dtype=object),
 'a50dd768794d4ded507eaa94157a47fad8b8566fd780ba37fbd27ef1568ec92a': array(['Knitwear', 'Dressed'], dtype=object),
 'a42aa66dbc07d6aa5c3b92104a60e198999282f330a710ec73a65c52a57c4a3f': array(['Unknown'], dtype=object),
 'a408b19afb23f2d7b20f90de2a8c8c6d1c9ccf84bcd7431cbb12f3f35b0c58dc': array(['Jersey Fancy', 'Trousers'], dtype=object),
 'a40355d8a814fb2d3a32bd0789bf49090d1869c7bee56aea346119e9fb7973a9': array(['Jersey Basic', 'Knitwear'], dtype=object),
 'a32a5dfb016f9f7054cb6787298adcc7764012d92fe1080fa4fc13ab9efaca73': array(['Knitwear'], dtype=object),
 '9fc161c9cd9e61f2b5e1a9b55b025ee949b97f0baa00bec540a4607a9ecc90ae': array(['Knitwear', 'Accessories'], dtype=object),
 '9fbaaeb02d2f22003cd739bd042167080352aeb78326ffc6820f60123e97ac4a': array(['Jersey Fancy', 'Knitwear'], dtype=object),
 '9ef27827e3f19765fce8467d3677b4821a87325e622113c4a12e5de1f7951128': array(['Trousers Denim', 'Jersey Basic', 'Jersey Fancy'], dtype=object),
 '9d21050594595b5848c536afc77bf2ec9bea2d0c440198760cc26a61bd5127d6': array(['Accessories'], dtype=object),
 '9cfb260586098deffa7d8ad200969b34c8f2f2a4ad433576528d015d662f1a90': array(['Blouses'], dtype=object),
 '9c8f78c7f6ccfe35c06a841545a0a06ba4b50b113861da8a4b874a78b91e0a93': array(['Blouses', 'Trousers'], dtype=object),
 '9c4a885009b1f75b84036898c5280185cb91b330b688ba97af98a5ae8ba73a99': array(['Accessories', 'Jersey Basic', 'Trousers'], dtype=object),
 '9bc6dc33c1a92af407daa8bde5dbf75949491a847f4c8f4e51d11bb54db83974': array(['Jersey Fancy'], dtype=object),
 '9bb57cd091fddd4fbce8a1cceb2eef3d6ee90d25bf7432b67bad9c4a2c4ee1d5': array(['Accessories'], dtype=object),
 '9ab920e0dcac7fb47aba2ad2395b8f4acf21f5fe5b2f12a729dc2ba50c784831': array(['Jersey Basic'], dtype=object),
 '99d7d39839052c3bfaa1f36291cbad456c12e803df5df752002a4b30369d3b77': array(['Jersey Basic'], dtype=object),
 '99bdfc9795c5b0881ab9a5a8ff0163e95228af35f0e209926cea36538099c693': array(['Jersey Fancy', 'Trousers'], dtype=object),
 '989e4773c2866877a1ce78a06307835b949bf6570372ca94f19949b8b13937eb': array(['Jersey Basic'], dtype=object),
 '97e0b085fa247318468548e89f84a62e07ce6d8ef691749af70a66685d51727c': array(['Accessories', 'Trousers'], dtype=object),
 '96bd7731394c4b06e727fd10ddeb0128cd1f295561276f615cd2a60e70ccb1a3': array(['Jersey Fancy', 'Trousers', 'Under-, Nightwear'], dtype=object),
 '947490b1246a1177e0366ba21776824ff4ac7ace659c4b37fdb31cc3ef6fbedf': array(['Trousers', 'Jersey Basic', 'Jersey Fancy'], dtype=object),
 '94077c90c4d29dcdecbfd885bdcaadad253a3933675cc563bd6be4cf00537a99': array(['Jersey Basic'], dtype=object),
 '93d959dcab8fbbacfd2803346786c79e25b4c6d8553351c68b829b125d810edb': array(['Jersey Basic'], dtype=object),
 '93a71bdf941eb7bad6e4fbc66be636f00d6ea7150e0a1b0f4e362e23e7b4f7c5': array(['Under-, Nightwear', 'Knitwear', 'Trousers'], dtype=object),
 '936f3e20afbcc7d38fa7b4d42091871a8d03396e166e50074eb2c61f0353e568': array(['Under-, Nightwear'], dtype=object),
 '920f5275cef30cecc3fd8dfa6dd2bb0c6f318cf6386c1c907566e4a40ee721aa': array(['Jersey Basic'], dtype=object),
 '90fafd97524270fe31ca61746e3bc0cbd94a962f646f02008d2a44ecea594829': array(['Jersey Basic', 'Jersey Fancy', 'Knitwear'], dtype=object),
 '90f7806943b929649b734c04993fa2282cc9bc4f87b5c1c6538743d9b8344e39': array(['Knitwear'], dtype=object),
 '90b4084f00fc31ce90949abc41bb3fa547c021078b6d9d9bdfb74985219ed71a': array(['Jersey Basic'], dtype=object),
 '8f10571e739c6f82069f56117053e918324c9dfe964c0662b14ff2ce54723772': array(['Jersey Fancy'], dtype=object),
 '8e31ff73af53f645efa5b28bfb3abbad27e26c374983cf2996a123ef64c58aa6': array(['Trousers'], dtype=object),
 '8e0aed5f0725f7f92f05d1048b8b69926d3ffc5ba907940281d5dbb8f49fa517': array(['Jersey Fancy', 'Knitwear'], dtype=object),
 '8db3b1759ace3a97119669bf869c8d36f810fd03f4d98cd861fdbe74d82ff6a7': array(['Jersey Fancy', 'Knitwear'], dtype=object),
 '8d501feb85eede051ea5b19962cd96b17f000b80be0ee6d5745b477796b02d61': array(['Jersey Fancy'], dtype=object),
 '8ce24e88d66ba338da12a8822d3212fec50d4b9454a84e3891136933d3a573e4': array(['Jersey Basic'], dtype=object),
 '8cdf55b072cfc37c6430ff3b87b65998cf851dbfc746a67b54d3b54a5ad83e23': array(['Jersey Basic'], dtype=object),
 '8c86f4de3e33afc6df02da4613614a9fbb1664d267a462043a522beecb20e962': array(['Jersey Basic'], dtype=object),
 '8b3a07fea521d34b19069c4d27a77a8199a4d896c1c6d86334a782a12ff43816': array(['Jersey Basic'], dtype=object),
 '89d02896e0683c8cce83461eb58fbc198ff4882383ecc49673bfb30312dffd4c': array(['Shoes'], dtype=object),
 '89bbe7408ea99a714deffa8d03fcd810ebcf9f0a128d875aba552d2946876540': array(['Knitwear', 'Socks and Tights'], dtype=object),
 '890243f97a55d80a16b0e2cc7e41ddcb8d0b017dc4bbc4452aa0af663b661dda': array(['Accessories', 'Jersey Fancy', 'Knitwear'], dtype=object),
 '88540924b78e50d1e5d620ad1cfacfa5e2a077c7b0e4e680f2f453ea8173d6fa': array(['Knitwear', 'Socks and Tights', 'Trousers Denim'], dtype=object),
 '88177d25643f8a96274ecb4164289715ac99cf9d248c899488ba0545dcbecc45': array(['Blouses', 'Jersey Fancy'], dtype=object),

In [81]:
predict(dict_cust_cat, dict_cat_articles)

{'fede72be6d8a2130624098f344c15f4d88a45d8b3cbbc9f21e1964a471b394b2': '639448001 759482001 907409001 928839001',
 'feb01a2d17ca601bb4361099013b9010773778a3da35524742e998c530920c8d': '621381012 621381014 706016002 448509014',
 'fe452b72e97790e68dcf79f49521782d486c345981f773a16160db6fa2b28567': '685814003 715624001 685813043 682550002',
 'fddef481e1e792752bb5b7243c1345cb0379a74c64722d7a321a9cdae7d893a0': '621381012 621381014 706016002 448509014',
 'fd458cc672b5dbd88d7cd1e92bb289f1a5f20d12bcda610616fea92f725d3320': '866731001 874113026 874113031 611216002 559633008 685605001 776237029 832330003',
 'fd0d0860c52aea5a8b38b01550603e88fe5a6008e19eca98308a57523272a587': '748355003 748355018 923037001 470789031',
 'fc90e1611724a9ca812fe2dd8038adc312b49dab92a4b254b02cab13605292e2': '685814003 715624001 685813043 682550002 767423001 516903024 673677002 687524001',
 'fc56c2b297803575c07f819af0dc8fd73c68eb7ad13454468bb83b77a5ef363f': '685814003 715624001 685813043 682550002 767423001 516903024 673677002 687524001',
 'fbf0c743801ed29a62f46b8d562edae6d7eabe6da8f5a90c237b53a43235ef4f': '685814003 715624001 685813043 682550002',
 'fbede713d84170d549e86bb8cfd29bab2e867c5d5b205bdb81067d7751199112': '621381012 621381014 706016002 448509014',
 'fbdb9d02cfb6dfc36b4b259e3c204039fe1f7a562383e69957f787f4521aaaa9': '871517008 871517014 889456001 697564006 767423001 516903024 673677002 687524001',
 'fb918f69639c27b0bdcd927bbe9c6475bda678807f07a510be5ce16d43ea4d03': '685814003 715624001 685813043 682550002 866731001 874113026 874113031 611216002',
 'fb3017fc5fe1a570024292b9a54bb05bdb935d366a2ece7f354b8c5b4f2a47da': '685814003 715624001 685813043 682550002',
 'fafdff0d00cc5a43930cb36b330787460f9e9928911afdd3d81ebd58226d95d1': '927957001 709332001 793699001 797079003',
 'fadc6e3eac34bc261ee8a8b155769263891462f9551d1b45786419e7f7546c97': '639448001 759482001 907409001 928839001 767423001 516903024 673677002 687524001 748355003 748355018 923037001 470789031',
 'fad2656d004b51a19dad1d899c266da7201721d104e75529781dc37d9fe562d6': '748355003 748355018 923037001 470789031',
 'faa2d9f85b9300040a70c2d4294bab2f9ad5e328f5b241d2540c046380b7212b': '639448001 759482001 907409001 928839001 685814003 715624001 685813043 682550002 559633008 685605001 776237029 832330003',
 'fa7252a2a900fb55a00fdf4db82677ff43dd1bc4f37d56485f6e80fc04f49c05': '866731001 874113026 874113031 611216002',
 'fa44ab89936399214eb0522c22214d708c46c7fe8a8864f4636f5b8871816959': '767423001 516903024 673677002 687524001 794321007 815580001 874937001',
 'f9cbe98653de59d385b3d46729092ade39f91b3bf15211445b1725fb7a91f223': '685814003 715624001 685813043 682550002',
 'f9b16588f2ee03a0a24872e84f5613e37c29592c7c8097a6479bf03169883822': '685814003 715624001 685813043 682550002 889703001 666444001 932798001 156231001',
 'f9940f8773315ed5e11ac0983d30c0ae3717599a2e7c8d6e28ad5a249ed58457': '685814003 715624001 685813043 682550002 621381012 621381014 706016002 448509014',
 'f98fcab85f9b8018ed74d60e2e6503be638d5c8dd1afbb0ef69a3b7a39c0d7da': '639448001 759482001 907409001 928839001 621381012 621381014 706016002 448509014',
 'f95460a6e86a38066ab0304f9b525527925b7ae96c5eaaa6810ed8c3381eb7ab': '636323001 864216001 729860002 899749005 685814003 715624001 685813043 682550002',
 'f950a859e569d8986fab30e8cda9cb3208bf20bdae8cf7ce37911edfad11fcf9': '866731001 874113026 874113031 611216002',
 'f77d4f5c4b98df18682a9b7672eddcf4d860aec1a188f1116c6be87bd450ea4e': '685814003 715624001 685813043 682550002',
 'f70590baf6774f84157feb27fc65f9adfd71f1eb3ebc4ceac58102c2828606d8': '748355003 748355018 923037001 470789031',
 'f6d3408d9f8ceb660f7479fa574a642e0e19ecdd93cff0b446dbb7dad5f40cab': '685814003 715624001 685813043 682550002 767423001 516903024 673677002 687524001 636323001 864216001 729860002 899749005',
 'f63a25b3756b83274314af8bddd65b08607ff84a524c87e0b18333a4971e52ea': '685814003 715624001 685813043 682550002',
 'f55b74ca46b35d76b10faf6d77b567975e4cc3adff0a0d0eb5ea7dece132af70': '767423001 516903024 673677002 687524001',
 'f5152128e48fc83f8fd613e6eba04875f1c7ec0589a48332790a8f70a5d192dd': '621381012 621381014 706016002 448509014',
 'f4b533174dcf04b8028f7b6399adefc89299832e51f4d80145233497ed194f7e': '639448001 759482001 907409001 928839001 866731001 874113026 874113031 611216002',
 'f4aac7157dd7d9703382a72ae86c9753816e5c335157312f4f1595671af01913': '639448001 759482001 907409001 928839001 889703001 666444001 932798001 156231001',
 'f286ceb2962d77eb642b259d78adb04aca9730efc09292bccc47c48afa09c4c1': '685814003 715624001 685813043 682550002 568601044 785515002 835008003 898694001 767423001 516903024 673677002 687524001',
 'f15eb68013ab576545e0ce12f5ea965dcc4585d69791031190f53af4fcf585fa': '767423001 516903024 673677002 687524001 871517008 871517014 889456001 697564006 866731001 874113026 874113031 611216002',
 'f0c323250d23ef41ab06d3c6e3edba7e1914c95434db26ffc22d21c7ea346511': '621381012 621381014 706016002 448509014 871517008 871517014 889456001 697564006 685814003 715624001 685813043 682550002',
 'f088a64e16284c0c7ad455e31c455e089f5d633d6838c969bcc3e68909867aa3': '639448001 759482001 907409001 928839001 685814003 715624001 685813043 682550002',
 'f03ceafad4332fc0bd3a4f28ac99f9c4c285c8aae1f2ab04ee245eaccfec03ed': '639448001 759482001 907409001 928839001 685814003 715624001 685813043 682550002',
 'ef8c10e90f55d3c57eb69ab3f000b0f5fb1a4c45c7242cad73aee9c847e73736': '685814003 715624001 685813043 682550002',
 'ef874acc1695d561c9838f1d48deccfdba44ce7764e5bb5f3e2dee182b48a81d': '871517008 871517014 889456001 697564006 685814003 715624001 685813043 682550002',
 'ef3a5c5d84cd903c0d613d6edf4702a1716404c57cb24aea0573252f3a45ecf6': '636323001 864216001 729860002 899749005',
 'eeded1160329ea272393789193800827dd026efe136cade582906ca19dd99836': '866731001 874113026 874113031 611216002',
 'ee23547af0c65080e5bdb137c11b95238fd9eb5db69a5df03c36297c4bb29422': '748355003 748355018 923037001 470789031',
 'ec22ca52d45af55b2cd1336dab388187b7eb0afde04af82c5a3d11aad0191f1d': '685814003 715624001 685813043 682550002',
 'ec0233f030e1ff8d1201309186ed0b002e650b4296643bfc3af143a69df70645': '639448001 759482001 907409001 928839001',
 'eba27f04ff00aaae8503773539c948a02c26f4ef0512169ff72a50a4f8f3359f': '869379007 777892001 858856004 869379001',
 'ea931ed97ba15a0d229bf7d46918fd99ff66aad47f83728e08366cdc418cf6b7': '621381012 621381014 706016002 448509014 866731001 874113026 874113031 611216002',
 'e92f4f7b708d84f0ca0810541d785a1ac7660c2f42bcd9753128d34c5970549d': '685814003 715624001 685813043 682550002 866731001 874113026 874113031 611216002',
 'e8d9ccc358d10b3d3a78fe12fe44348e1d88345b2e982efbcb1437dc9b42fc76': '866731001 874113026 874113031 611216002 748355003 748355018 923037001 470789031',
 'e8b948da89f98a6b69b6caaa3238f2489566d2b22b05ee82f7e96b598154e97e': '685814003 715624001 685813043 682550002',
 'e8b105ed9ef2276a2ef58867ff6308c759c379440aada35193f32d4f358e36aa': '927957001 709332001 793699001 797079003 639448001 759482001 907409001 928839001 871517008 871517014 889456001 697564006',
 'e82f98a913b580541b01431efb3410d91a5511d28807006278e45b31a597092e': '621381012 621381014 706016002 448509014 871517008 871517014 889456001 697564006',
 'e829fb99315efcf3ed49da39c4c1acea77ef35a5776292e90920d03e9dddd535': '866731001 874113026 874113031 611216002',
 'e6339166f0341d87406596efdc0de566ffa9a249e156d28b19a54f0fcf0f97cc': '621381012 621381014 706016002 448509014 748355003 748355018 923037001 470789031 639448001 759482001 907409001 928839001',
 'e6136fb51381fd80b3a3144662e2997eef90c36c9f7d3238b1ff521e88675618': '748355003 748355018 923037001 470789031',
 'e609fdbfc7215a626b5a34d77439ab3eda4ade93d6b718e851bbe700280b85f2': '868054004 700429002 768193001 802898002',
 'e5c116cd5c54ff40714246da3c81ac926725635f71e476fc13b197daa0201b4b': '685814003 715624001 685813043 682550002 639448001 759482001 907409001 928839001 871517008 871517014 889456001 697564006',
 'e55687513b9f6cde8d2d87d0d50ba7a3ef41a426c6f4d970cce86a23868e39e6': '767423001 516903024 673677002 687524001',
 'e44ac14f6f0e9b18d96701664f92f82d8001c365178c262d8cb301d7cdda23c3': '767423001 516903024 673677002 687524001',
 'e36b3e948b2674edb8870187aae95573794664364ea7e425fd4a528d9f69c73f': '621381012 621381014 706016002 448509014 866731001 874113026 874113031 611216002 767423001 516903024 673677002 687524001',
 'e2f7678c269cb120274ae22039a74a62f499552efed3f7fa76e41cce20033440': '866731001 874113026 874113031 611216002 889703001 666444001 932798001 156231001',
 'e0e5656a4891d81647393c94bb494ef6f6ce1186ba51fe2a8f9d151d0f4f7441': '685814003 715624001 685813043 682550002',
 'e031790ef629ee1739eea32220902b952f5f4cd2b0af2aa0e24430c060f1838e': '685814003 715624001 685813043 682550002',
 'df9825cc8cc5e2dd8f185e3d53657013a7082f5315977d3e5c355e8373cff6ee': '685814003 715624001 685813043 682550002 866731001 874113026 874113031 611216002',
 'df1aa9f67e558b278ad75e2b0e3020b58aa0ef944f2b771d3c7d44d213225eb1': '866731001 874113026 874113031 611216002',
 'de91cda47a2b95c123749c4ea4d1a9bd7048cb08908c1350fcc7d01deb01ce2d': '871517008 871517014 889456001 697564006 621381012 621381014 706016002 448509014 636323001 864216001 729860002 899749005',
 'ddf576572894fca7e74a13366a1662979e1446e44534bfbea80e25e969dd6f9c': '621381012 621381014 706016002 448509014',
 'dd3b8a41c13d700f99ee8e884698b458756eae0b9d4369064395c3e870621cab': '621381012 621381014 706016002 448509014',
 'dce8a3ed8e8c6460ade83e2fbb22d3e2e6b2059070ec970befcf3afa0f2ecf37': '685814003 715624001 685813043 682550002',
 'dc5a5317e512e8a0a0b2b53b6812029f1abaa5be96f02b294bfa4f88a80ce4d0': '685814003 715624001 685813043 682550002 866731001 874113026 874113031 611216002 767423001 516903024 673677002 687524001',
 'dc137e904f262b2a1c3e171efe1ac7c01afdb5b0e66a6265a8a0e821c6dea244': '871517008 871517014 889456001 697564006',
 'db74f6e9ba8c1354b107118c01b9ef8fe128fa48059ef8b32abcc0ac7d524768': '621381012 621381014 706016002 448509014',
 'db6cc489ccb75fda9bee17fbc8aaf70054e7a894e054720c5a3d745b37f68b68': '748355003 748355018 923037001 470789031',
 'da9744cd1bfad1cb8dbe9cc85d21b4fb4f92377d034c411f377c8e21955c7c10': '748355003 748355018 923037001 470789031 685814003 715624001 685813043 682550002',
 'da0fd527b4b9a946d138a6627c6a4d2a3cc8282e31a6b734074f7f7f4daa6a62': '866731001 874113026 874113031 611216002 767423001 516903024 673677002 687524001 621381012 621381014 706016002 448509014',
 'd9d82d7ca5ea26d6ea40bf9f6e46a452685b7ae72d9e126c3d2f9583d3f4233f': '866731001 874113026 874113031 611216002',
 'd99d640ed748cc3ef2228a9224e42c3b4528d3a3e24d200df0e03e5484297cab': '767423001 516903024 673677002 687524001',
 'd92ba88c2e15b0924a91655c8b87a5fcceee050c2f310837ff3423d49ee0da7e': '767423001 516903024 673677002 687524001',
 'd8b133c964434fdd4d3e911589eab76c9fa9e5092e01bb560e694cd4f33b24e9': '866731001 874113026 874113031 611216002',
 'd7e825a1a433464d05fbaaafa54f96dcd25368c725d722addadf8504d249089f': '866731001 874113026 874113031 611216002',
 'd66a0344280671911d5bb7430cf480d61e3dcb268569892885c50acd70e73400': '871517008 871517014 889456001 697564006 685814003 715624001 685813043 682550002 621381012 621381014 706016002 448509014',
 'd432fc7d33390d57be5ed6868931c18b248d05170d4024e6dd75c2c701cc0830': '636323001 864216001 729860002 899749005',
 'd35e7ca1852ad58157761f74f72019cc3ef22f4f2d0ec52d223633740ca63eef': '685814003 715624001 685813043 682550002',
 'd1cafe1841dcb319ad6eb0a7ffd6b706e1ac2a5b759d5612aed4f5fd7048dc47': '685814003 715624001 685813043 682550002',
 'd12fb081e191c258d66ef6c2d1fa3a39fe119e18ab9dbd919c62473acde5d2d6': '767423001 516903024 673677002 687524001',
 'd0c1b6e8d460da4d1dd081ac2c00a23680e3e4f0459e1c3d147e0dfa5f16188a': '636323001 864216001 729860002 899749005',
 'd0a90bece8c7c0d00573d1849969b629e703d5f46b3ea57ae8442d1944c9e36b': '685814003 715624001 685813043 682550002 748355003 748355018 923037001 470789031',
 'cfc30e9fa12b8c54c16953279cbd412241fc881ec88f4698d4fafabd2e2fea54': '869379007 777892001 858856004 869379001 621381012 621381014 706016002 448509014',
 'cfc20782173c8a60a788ba286b0513bf9433ea2c92becf5779bc33744ffa3da6': '868054004 700429002 768193001 802898002',
 'ce62d7c34e10c37f126f4c13a688f2dbb4dbf0afa66ac176a9590902a8467c12': '871517008 871517014 889456001 697564006',
 'cdd6342915a6b00b8a63d40ef464164c16a55691ac551978bef8581726f9a12f': '685814003 715624001 685813043 682550002 767423001 516903024 673677002 687524001',
 'cd8d1228b5c2457b8b6dc3deb6814c33d3f4950ce5a4ff712e151f2342fc20c2': '685814003 715624001 685813043 682550002',
 'cd727aa20f09239a7f4e691cef46b118db861c12479cbfa2708fcf9cbb0791cc': '685814003 715624001 685813043 682550002',
 'cb0b267c4887da7e2b24969bf4a983c4df269f0d2cd8e14dac3aac79d89682bd': '685814003 715624001 685813043 682550002 621381012 621381014 706016002 448509014',
 'c9f6504a9353175a06a171a6dd61b38bfb22927d95c8294ec517afb6235d9bc8': '636323001 864216001 729860002 899749005',
 'c8ee3a61caec84fa3831fcc37f976cc56679a7566548c50437065ec0d372bb28': '685814003 715624001 685813043 682550002 866731001 874113026 874113031 611216002 621381012 621381014 706016002 448509014',
 'c7a7d0bbb9eef5c57b3246c2a1d4d733fbb84317a6b2537b0483171ad4857dac': '621381012 621381014 706016002 448509014 866731001 874113026 874113031 611216002',
 'c56d061dc0cbbd550ab3c29514ad64f9d28e3c21a1cd29f6cc0e662a3875ea8e': '685814003 715624001 685813043 682550002 866731001 874113026 874113031 611216002 621381012 621381014 706016002 448509014',
 'c4adb62f0db844c4b270f81d96c8efcb6be760879665334e1f6b08eba0690aca': '639448001 759482001 907409001 928839001',
 'c44580aa586a5aa231a381cf71418dbbef2561c41f00b5137d6f117acd84a439': '685814003 715624001 685813043 682550002 621381012 621381014 706016002 448509014 636323001 864216001 729860002 899749005',
 'c3bd6d7c59b3072fabec297e6008c99bca207760a2d7b244a0a54db03dd10a62': '866731001 874113026 874113031 611216002',
 'c2753080dfc58e2d592d9112f2630bd93429d0bc947fd3479ff6a87093de19c2': '685814003 715624001 685813043 682550002',
 'c273ddb99f9206c14be10754aa343857028494570fdb5ff55e073fe1021ebec0': '866731001 874113026 874113031 611216002',
 'c25e13e33d4477e82fafbd8b4b57d75b013252880161ceac97e8fd9fff8817f2': '866731001 874113026 874113031 611216002 889703001 666444001 932798001 156231001',
 'c181676b285cef407f3d522f0990dca709e9d4020fc7821952e0213ef0501e85': '639448001 759482001 907409001 928839001',
 'c14857008cf2d388fd823a97091d3c31f0c5cc5f862b6ce3e02aae42fe055bdc': '685814003 715624001 685813043 682550002',
 'c1170567a168d7c81d63db7513378a9f13b411b69bf41ef5646a5c17a66ccb17': '559633008 685605001 776237029 832330003',
 'c07edeaaf00ff849a307c18021aca749dc3e76ca4048f0f78fc8e903096ee8b5': '748355003 748355018 923037001 470789031 621381012 621381014 706016002 448509014 636323001 864216001 729860002 899749005',
 'c04ee58b6a72689a39ae1b437ab89ba2327e8dd7ed652980abd63d82c1c28bcb': '685814003 715624001 685813043 682550002',
 'be227356719054b0f9008b68144f5b1834e24e90d4a007fb2f6dcf638baf9c96': '871517008 871517014 889456001 697564006',
 'bcf0e19606d3bd9823e7d944ca9e5da751846340acf27f0f9cd362999685e70e': '767423001 516903024 673677002 687524001',
 'bc0d49f4c58e11b217d618150305a425acb4de63dfb71cdf328c01e44d8185d2': '685814003 715624001 685813043 682550002 621381012 621381014 706016002 448509014',
 'bb0cfbfae0cb2274f501dc422aff140f938c9e94a89b00932275fc1f3f5e115f': '639448001 759482001 907409001 928839001',
 'b9e322dd1df0f9804c1a4fa9e4f75f6e8b3b16756d798f558299a712e2c42601': '748355003 748355018 923037001 470789031 866731001 874113026 874113031 611216002',
 'b761051af4015f3e87e013400bc8629f9b53c1c402ba5434ce65d518ee3c382e': '639448001 759482001 907409001 928839001',
 'b6e9caf19f56ca9e6b8dbd0e843aeeef940c3db84176d617c1b678d4c4399d1a': '639448001 759482001 907409001 928839001 685814003 715624001 685813043 682550002 869379007 777892001 858856004 869379001',
 'b5bea80f3c53940f1e020ae51c6abd791c2c9d4109fb6cb23c7e7c451da59379': '636323001 864216001 729860002 899749005',
 'b4bb4ca468ae9b30d47c14e936e52c35258611b7adf12a466d9bab07416941e5': '685814003 715624001 685813043 682550002 866731001 874113026 874113031 611216002 767423001 516903024 673677002 687524001',
 'b3ae393747a572d6abe949ad70fd07058cba0e24b419154101d3eb70ac87d309': '866731001 874113026 874113031 611216002',
 'afe52b16e478ad51bf28fe09c13e4449da2822ffac856da47e5df9851d942e79': '621381012 621381014 706016002 448509014',
 'ae2d843d8e6162d3d30daa18575ea43407b7c10378225e570256685f5a2ded2e': '866731001 874113026 874113031 611216002',
 'ab4c236b146f20e741a8a4d0e9177b10884edf5564ae7495c38d59472ed43f79': '621381012 621381014 706016002 448509014',
 'a9c1a835e51c3fcdec5a252bc93be1c5f6833ca9643250c4cad23e0637079cd4': '685814003 715624001 685813043 682550002 621381012 621381014 706016002 448509014',
 'a92433657358661a5bb518fd385b5db8002e504f8f92c3e4593a6854042117e1': '767423001 516903024 673677002 687524001',
 'a91c2649ed55574a0766a1a3bf8e9b588e0629fec838e23f8346c82113248658': '621381012 621381014 706016002 448509014',
 'a6f1d7ef7950318b76d7fad70829bbfe078bd288583f12f9e3b2419b19eb647a': '621381012 621381014 706016002 448509014',
 'a6e939e8414cd07fd7c665d4128ebf4aba1a8138775ed40be3fb08c46426cf4d': '866731001 874113026 874113031 611216002',
 'a6a38b8fc65ea5cf01348ae17efbba8a16164791846b87b1ceaf00ca3a29e66c': '685814003 715624001 685813043 682550002 866731001 874113026 874113031 611216002 889703001 666444001 932798001 156231001',
 'a60ba3226839be47fc6c25137d848ab7fb1f85e1f93508c9d9a08929e64fe983': '767423001 516903024 673677002 687524001',
 'a5b81c188a16e500f6f8577d46366a6dd8b15233ff1d073c472c9fdd4ee43c01': '767423001 516903024 673677002 687524001 621381012 621381014 706016002 448509014',
 'a50dd768794d4ded507eaa94157a47fad8b8566fd780ba37fbd27ef1568ec92a': '767423001 516903024 673677002 687524001 568601044 785515002 835008003 898694001',
 'a42aa66dbc07d6aa5c3b92104a60e198999282f330a710ec73a65c52a57c4a3f': '794321007 815580001 874937001',
 'a408b19afb23f2d7b20f90de2a8c8c6d1c9ccf84bcd7431cbb12f3f35b0c58dc': '866731001 874113026 874113031 611216002 621381012 621381014 706016002 448509014',
 'a40355d8a814fb2d3a32bd0789bf49090d1869c7bee56aea346119e9fb7973a9': '685814003 715624001 685813043 682550002 767423001 516903024 673677002 687524001',
 'a32a5dfb016f9f7054cb6787298adcc7764012d92fe1080fa4fc13ab9efaca73': '767423001 516903024 673677002 687524001',
 '9fc161c9cd9e61f2b5e1a9b55b025ee949b97f0baa00bec540a4607a9ecc90ae': '767423001 516903024 673677002 687524001 639448001 759482001 907409001 928839001',
 '9fbaaeb02d2f22003cd739bd042167080352aeb78326ffc6820f60123e97ac4a': '866731001 874113026 874113031 611216002 767423001 516903024 673677002 687524001',
 '9ef27827e3f19765fce8467d3677b4821a87325e622113c4a12e5de1f7951128': '636323001 864216001 729860002 899749005 685814003 715624001 685813043 682550002 866731001 874113026 874113031 611216002',
 '9d21050594595b5848c536afc77bf2ec9bea2d0c440198760cc26a61bd5127d6': '639448001 759482001 907409001 928839001',
 '9cfb260586098deffa7d8ad200969b34c8f2f2a4ad433576528d015d662f1a90': '871517008 871517014 889456001 697564006',
 '9c8f78c7f6ccfe35c06a841545a0a06ba4b50b113861da8a4b874a78b91e0a93': '871517008 871517014 889456001 697564006 621381012 621381014 706016002 448509014',
 '9c4a885009b1f75b84036898c5280185cb91b330b688ba97af98a5ae8ba73a99': '639448001 759482001 907409001 928839001 685814003 715624001 685813043 682550002 621381012 621381014 706016002 448509014',
 '9bc6dc33c1a92af407daa8bde5dbf75949491a847f4c8f4e51d11bb54db83974': '866731001 874113026 874113031 611216002',
 '9bb57cd091fddd4fbce8a1cceb2eef3d6ee90d25bf7432b67bad9c4a2c4ee1d5': '639448001 759482001 907409001 928839001',
 '9ab920e0dcac7fb47aba2ad2395b8f4acf21f5fe5b2f12a729dc2ba50c784831': '685814003 715624001 685813043 682550002',
 '99d7d39839052c3bfaa1f36291cbad456c12e803df5df752002a4b30369d3b77': '685814003 715624001 685813043 682550002',
 '99bdfc9795c5b0881ab9a5a8ff0163e95228af35f0e209926cea36538099c693': '866731001 874113026 874113031 611216002 621381012 621381014 706016002 448509014',
 '989e4773c2866877a1ce78a06307835b949bf6570372ca94f19949b8b13937eb': '685814003 715624001 685813043 682550002',