# Segments

In [2]:
import numpy as np
import pandas as pd
import datetime

In [4]:
transactions = pd.read_csv('transactions.csv')

In [ ]:
transa

In [3]:
customers = pd.read_csv('../../raw_data/customers.csv')

In [3]:
articles = pd.read_csv('../../raw_data/articles.csv')

In [4]:
transactions = transactions.merge(articles[['article_id','garment_group_name']],how = 'left', on = 'article_id')

In [4]:
spring_summer =  ['07','08','09','04','05','06']
fall_winter = ['10','11','12','01','02','03']

def season_transformer(date):
    if date[5:7] in spring_summer:
        return 1
    return 0

transactions['season'] = transactions.t_dat.apply(season_transformer)
transactions['count']=1
transactions['sales_channel_id'] = transactions['sales_channel_id'].map({2:int(0),1:1})

In [8]:
transactions.head()

,t_dat,customer_id,article_id,price,sales_channel_id,season,count,garment_group_name
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,0,1,1,"Under-, Nightwear"
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,0,1,1,"Under-, Nightwear"
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,0,1,1,Knitwear
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,0,1,1,Special Offers
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,0,1,1,Special Offers

In [ ]:
transactions[['customer_id', 'price' 'sales_channel_id 	garment_group_name 	season]]   groupby customer_id
aggregation par colonnes, les lignes sont les customer_id, dans les colonnes on aura
price : sum
frequence d'été (binaire donc ok si pas d'hiver)(somme puis diviser par nombre achat)
frequence d'achat en magasin (somme puis diviser par nombre achat)
nombre d'achats totaux approximatif
date de dernier achat (prendre le min sur la colonne des dates, convertie en datetime) qu'on convertit en distance à la semaine 104 plus tard  irl
date de dernier achat boutique

In [ ]:
transactions[['customer_id','price']]

In [5]:
min(pd.to_datetime('2018-09-20'),pd.to_datetime('2018-09-30'))

Timestamp('2018-09-20 00:00:00')

In [11]:
transactions.t_dat = transactions.t_dat.apply(season_transformer)

In [16]:
customers.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...

In [ ]:
finir par un KNN sur customers, l'age se fera tout seul j'imagine ?