# Data analysis products

In [27]:
import pandas as pd
import numpy as np
import datetime

In [28]:
articles = pd.read_csv('../../raw_data/articles.csv')

# Baseline la plus nulle

In [29]:
articles.columns

Index(['article_id', 'product_code', 'prod_name', 'product_type_no',
       'product_type_name', 'product_group_name', 'graphical_appearance_no',
       'graphical_appearance_name', 'colour_group_code', 'colour_group_name',
       'perceived_colour_value_id', 'perceived_colour_value_name',
       'perceived_colour_master_id', 'perceived_colour_master_name',
       'department_no', 'department_name', 'index_code', 'index_name',
       'index_group_no', 'index_group_name', 'section_no', 'section_name',
       'garment_group_no', 'garment_group_name', 'detail_desc'],
      dtype='object')

In [30]:
articles = articles[['article_id','garment_group_name']] 
articles.head()

   article_id garment_group_name
0   108775015       Jersey Basic
1   108775044       Jersey Basic
2   108775051       Jersey Basic
3   110065001  Under-, Nightwear
4   110065002  Under-, Nightwear

In [31]:
articles_baseline = pd.get_dummies(articles.garment_group_name) 
articles_baseline['article_id'] = articles['article_id']
articles_baseline

,Accessories,Blouses,Dressed,Dresses Ladies,Dresses/Skirts girls,Jersey Basic,Jersey Fancy,Knitwear,Outdoor,Shirts,...,Skirts,Socks and Tights,Special Offers,Swimwear,Trousers,Trousers Denim,"Under-, Nightwear",Unknown,Woven/Jersey/Knitted mix Baby,article_id
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,108775015
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,108775044
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,108775051
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,110065001
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,110065002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105537,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,953450001
105538,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,953763001
105539,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,956217002
105540,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,957375001
105541,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,959461001

In [32]:
articles_baseline.to_csv('articles_baseline.csv')

,Accessories,Blouses,Dressed,Dresses Ladies,Dresses/Skirts girls,Jersey Basic,Jersey Fancy,Knitwear,Outdoor,Shirts,...,Skirts,Socks and Tights,Special Offers,Swimwear,Trousers,Trousers Denim,"Under-, Nightwear",Unknown,Woven/Jersey/Knitted mix Baby,article_id
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,108775015
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,108775044
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,108775051
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,110065001
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,110065002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105537,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,953450001
105538,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,953763001
105539,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,956217002
105540,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,957375001
105541,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,959461001

In [42]:
articles_baseline.columns

Index(['Accessories', 'Blouses', 'Dressed', 'Dresses Ladies',
       'Dresses/Skirts girls', 'Jersey Basic', 'Jersey Fancy', 'Knitwear',
       'Outdoor', 'Shirts', 'Shoes', 'Shorts', 'Skirts', 'Socks and Tights',
       'Special Offers', 'Swimwear', 'Trousers', 'Trousers Denim',
       'Under-, Nightwear', 'Unknown', 'Woven/Jersey/Knitted mix Baby',
       'article_id'],
      dtype='object')

In [41]:
len(articles_baseline.columns)

22

In [47]:
c = articles_baseline.loc[articles_baseline['Accessories'] == 1]
c['article_id']

28        126589006
29        126589007
30        126589010
31        126589011
32        126589012
            ...
105517    947509001
105518    947528001
105519    947538001
105533    950449002
105540    957375001
Name: article_id, Length: 11519, dtype: int64

In [50]:
features = list(articles_baseline.columns)

In [51]:
features[1]

'Blouses'

In [53]:
c['article_id'].to_csv(f'{features[1]}.csv')

In [56]:
articles_baseline

,Accessories,Blouses,Dressed,Dresses Ladies,Dresses/Skirts girls,Jersey Basic,Jersey Fancy,Knitwear,Outdoor,Shirts,...,Skirts,Socks and Tights,Special Offers,Swimwear,Trousers,Trousers Denim,"Under-, Nightwear",Unknown,Woven/Jersey/Knitted mix Baby,article_id
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,108775015
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,108775044
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,108775051
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,110065001
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,110065002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105537,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,953450001
105538,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,953763001
105539,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,956217002
105540,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,957375001
105541,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,959461001

In [59]:
features

['Accessories',
 'Blouses',
 'Dressed',
 'Dresses Ladies',
 'Dresses/Skirts girls',
 'Jersey Basic',
 'Jersey Fancy',
 'Knitwear',
 'Outdoor',
 'Shirts',
 'Shoes',
 'Shorts',
 'Skirts',
 'Socks and Tights',
 'Special Offers',
 'Swimwear',
 'Trousers',
 'Trousers Denim',
 'Under-, Nightwear',
 'Unknown',
 'Woven/Jersey/Knitted mix Baby',
 'article_id']

In [66]:
def cluster_csv_articles():
    features = list(articles_baseline.columns)
    features_name_formatted = [name.replace('/','_') for name in features]
    for i in range(0,22):
        c = articles_baseline.loc[articles_baseline[features[i]] == 1]
        c['article_id'].to_csv(f'{features_name_formatted[i]}.csv')

In [67]:
cluster_csv_articles()

# Baseline moins nulle

In [13]:
articles = articles[['article_id',
       'product_type_name','graphical_appearance_name', 
        'perceived_colour_master_name',
       'section_name','garment_group_name']]

#I explain why I drop these features:
#detail desc is probably more interesting if you used NLP and Deep. 
#garment_group_no as I keep groupname and OHE it
#'section_no' as I keep section_name and OHE it after having grouped them together
#'index_code', 'index_name','index_group_no', 'index_group_name', 
#'colour_group_code', 'colour_group_name','perceived_colour_value_id', 'perceived_colour_value_name','perceived_colour_master_id', 'perceived_colour_master_name', as we have perceived_colour_master_name' already and OHE

In [14]:
articles

,article_id,product_type_name,graphical_appearance_name,perceived_colour_master_name,section_name,garment_group_name
0,108775015,Vest top,Solid,Black,Womens Everyday Basics,Jersey Basic
1,108775044,Vest top,Solid,White,Womens Everyday Basics,Jersey Basic
2,108775051,Vest top,Stripe,White,Womens Everyday Basics,Jersey Basic
3,110065001,Bra,Solid,Black,Womens Lingerie,"Under-, Nightwear"
4,110065002,Bra,Solid,White,Womens Lingerie,"Under-, Nightwear"
...,...,...,...,...,...,...
105537,953450001,Socks,Placement print,Black,Men Underwear,Socks and Tights
105538,953763001,Vest top,Solid,Black,H&M+,Jersey Fancy
105539,956217002,Dress,Solid,Black,Womens Trend,Jersey Fancy
105540,957375001,Hair clip,Solid,Black,Divided Accessories,Accessories
105541,959461001,Dress,Solid,White,Womens Trend,Jersey Fancy

In [4]:
articles['garment_group_name'].unique()

array(['Jersey Basic', 'Under-, Nightwear', 'Socks and Tights',
       'Jersey Fancy', 'Accessories', 'Trousers Denim', 'Outdoor',
       'Shoes', 'Swimwear', 'Knitwear', 'Shirts', 'Trousers', 'Dressed',
       'Shorts', 'Dresses Ladies', 'Skirts', 'Special Offers', 'Blouses',
       'Unknown', 'Woven/Jersey/Knitted mix Baby', 'Dresses/Skirts girls'],
      dtype=object)

In [3]:
articles.columns

Index(['article_id', 'product_code', 'prod_name', 'product_type_no',
       'product_type_name', 'product_group_name', 'graphical_appearance_no',
       'graphical_appearance_name', 'colour_group_code', 'colour_group_name',
       'perceived_colour_value_id', 'perceived_colour_value_name',
       'perceived_colour_master_id', 'perceived_colour_master_name',
       'department_no', 'department_name', 'index_code', 'index_name',
       'index_group_no', 'index_group_name', 'section_no', 'section_name',
       'garment_group_no', 'garment_group_name', 'detail_desc'],
      dtype='object')

In [ ]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse = False) # Instanciate encoder

ohe.fit(data[['GarageFinish']]) # Fit encoder

alley_encoded = ohe.transform(data[['GarageFinish']]) # Encode alley

data["RFn"],data["Unf"],data['Fin'],data['No Garage'] = alley_encoded.T # Transpose encoded Alley back into dataframe

data.head()

In [103]:
articles['article_id'][0] = [0,1]

/tmp/ipykernel_14728/3620960288.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  articles['article_id'][0] = [0,1]

ValueError: setting an array element with a sequence.

In [98]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np

ohe = OneHotEncoder(sparse = False) # Instanciate encoder

ohe.fit(articles[['product_type_name']]) # Fit encoder

#articles['product_type_name'] = ohe.transform(articles[['product_type_name']]) # Encode alley
alley_encoded = ohe.transform(articles[['product_type_name']]) # Encode alley

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [94]:
alley_encoded[0]

<1x131 sparse matrix of type '<class 'numpy.float64'>'
	with 1 stored elements in Compressed Sparse Row format>

In [74]:
articles['product_type_name'].unique()

array([0., 1.])

In [8]:
import pandas as pd

# Creating a dictionary with the data
dictionary = {"age": [22, 25, 30, 38, 42, 47, 55, 62, 61, 90], 
              "gender": ["M", "M", "F", "F", "F", "M", "M", "M", "M", "M"], 
              "civil_status": ["SINGLE", "SINGLE", "SINGLE", "MARRIED", "MARRIED", "SINGLE", "MARRIED", "DIVORCED", "MARRIED", "DIVORCED"], 
              "salary": [18000, 23000, 27000, 32000, 34000, 20000, 40000, 42000, 25000, 70000], 
              "has_children": [False, False, False, True, True, False, False, False, False, True], 
              "purchaser_type": ["LOW_PURCHASER", "LOW_PURCHASER", "LOW_PURCHASER", "HEAVY_PURCHASER", "HEAVY_PURCHASER", "LOW_PURCHASER", "MEDIUM_PURCHASER", "MEDIUM_PURCHASER", "MEDIUM_PURCHASER", "LOW_PURCHASER"]}

# Creating a Pandas DataFrame from the dictionary
dataframe = pd.DataFrame.from_dict(dictionary)

In [11]:
import gower

distance_matrix = gower.gower_matrix(dataframe)

In [24]:
pd.DataFrame(distance_matrix)

,0,1,2,3,4,5,6,7,8,9
0,0.000000,0.023379,0.215121,0.750754,0.766968,0.067685,0.484729,0.508296,0.451357,0.666667
1,0.023379,0.000000,0.191742,0.727376,0.743590,0.063537,0.461350,0.484917,0.427979,0.643288
2,0.215121,0.191742,0.000000,0.535634,0.551848,0.230769,0.602941,0.626508,0.582391,0.784879
3,0.750754,0.727376,0.535634,0.000000,0.016214,0.727187,0.567308,0.757541,0.578808,0.749246
4,0.766968,0.743590,0.551848,0.016214,0.000000,0.723793,0.551094,0.741327,0.575415,0.733032
5,0.067685,0.063537,0.230769,0.727187,0.723793,0.000000,0.417044,0.440611,0.383673,0.598982
6,0.484729,0.461350,0.602941,0.567308,0.551094,0.417044,0.000000,0.190234,0.062783,0.681938
7,0.508296,0.484917,0.626508,0.757541,0.741327,0.440611,0.190234,0.000000,0.223605,0.491704
8,0.451357,0.427979,0.582391,0.578808,0.575415,0.383673,0.062783,0.223605,0.000000,0.715309
9,0.666667,0.643288,0.784879,0.749246,0.733032,0.598982,0.681938,0.491704,0.715309,0.000000

In [22]:
distance_matrix.shape

(10, 10)

In [38]:
#KNN using the gower matrix

from sklearn.cluster import KMeans
# Configuring the parameters of the clustering algorithm
KNN_cluster = KMeans(n_clusters=4)
# Fitting the clustering algorithm
KNN_cluster.fit(distance_matrix)

# Adding the results to a new column in the dataframe
dataframe["cluster_KNN"] = KNN_cluster.labels_



#DBSCAN using the gower matrix
from sklearn.cluster import DBSCAN
# Configuring the parameters of the clustering algorithm
dbscan_cluster = DBSCAN(eps=0.3, 
                        min_samples=2, 
                        metric="precomputed")

# Fitting the clustering algorithm
dbscan_cluster.fit(distance_matrix)

# Adding the results to a new column in the dataframe
dataframe["cluster"] = dbscan_cluster.labels_

In [39]:
dataframe

,age,gender,civil_status,salary,has_children,purchaser_type,cluster,cluster_KNN
0,22,M,SINGLE,18000,False,LOW_PURCHASER,0,1
1,25,M,SINGLE,23000,False,LOW_PURCHASER,0,1
2,30,F,SINGLE,27000,False,LOW_PURCHASER,0,1
3,38,F,MARRIED,32000,True,HEAVY_PURCHASER,1,0
4,42,F,MARRIED,34000,True,HEAVY_PURCHASER,1,0
5,47,M,SINGLE,20000,False,LOW_PURCHASER,0,1
6,55,M,MARRIED,40000,False,MEDIUM_PURCHASER,2,2
7,62,M,DIVORCED,42000,False,MEDIUM_PURCHASER,2,2
8,61,M,MARRIED,25000,False,MEDIUM_PURCHASER,2,2
9,90,M,DIVORCED,70000,True,LOW_PURCHASER,-1,2